---
layout: home4
title: 404
permalink: /404.html
---

{% include head.html %}

{% include header.html %}

<body>

<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>
<br>
<br>

<div class= "home-project-about">
<img src="/images/404.png" align="center" alt="404 img" height="239" width="138">
<p align="center">Nope.</p>
<p align="center">Doesn't look like the page you are searching for.</p>
<p align="center"><a href="http://fabriziogoglia.com">My resume ⤍</a></p>
</div>

<!-- <a href="http://fabriziogoglia.com" class="button">Go to projects page</a> -->


<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
</div>
</div>
</body>
