---
layout: home4
menu: yes
title: about
---


{% include head.html %}

{% include header.html %}



  <body style="background-color:#171717">

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<!--
<div class="intro">

<div class="home-project-title">
Fabrizio Goglia
</div>

-->

<div class="page-content">

    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-mobile">
</div>

<!--
<div class="home-project-title-bg">
About
  </div>
-->

<!--
<div class="home-project-title">
About me
</font>
  </div>
-->

  <div class= "home-project-about">

    I work in team with designers and developers for companies, agencies and organizations since 2010.
    <br>
    <br>
    I have a keen interest in researching on visual perception, approaching different design methodologies and technologies.
    <br>
    <br>
    I studied at IUAV, University of Venice, attending the IxD program run by Gillian Crampton Smith and Philip Tabor.
    <!--My expertise is create user interfaces with predisposition to ideation, attention to content and accuracy to details.
    I design digital products, building navigation flow, wireframe, mockup and prototype.
<br>
<br>

    <!--I have a keen interest in researching on visual perception, approaching different Design methodologies and technologies.-->

<br>
<br>
<hr>
    <br>
    <font color= "#ff57c4">
    💼<i>Work experience</i>
    </font>
    <br>
    <br>
    2015—2016 MM–ONE Group – UI-UX Designer • Venice
    <br>
    <br>
    2014—2015 Iperstudio – Interaction Designer • Venice
    <br>
    <br>
    2014—2015 Materiaterza – Graphic Designer • Venice
    <br>
    <br>
    2014—2015 Confartigianato – Freelance Designer • Venice
    <br>
    <br>
    2013—2014 Unops–Ideass – Research collaborator • FAO, Rome
    <br>
    <br>
    2011 Service Civil International – Campaigner • Italy, India
    <br>
    <br>
    2011—Currently – Freelance work
    <br>
    <br>
    2010 Superstudio Agency – Intern, Designer • Rome
    <br>
    <br>
    <hr>
    <br>

    <font color= "#ffe257">
    🎓<i>Education</i>
    </font>
    <br>
    <br>
    2011—2014 IUAV, MA in Visual and Multimedia Communications • Venice
    <br>
    <br>
    2011 School of Arts & Crafts, Web Design certificate • Rome
    <br>
    <br>
    2008—2011 Roma3 University, BA in Visual Communication studies • Rome
    <br>
    <br>
    <hr>
    <br>

    <font color= "#57ff6b">
    🚀<i>Workshop</i>
    </font>
    <br>
    <br>
    2015 Digital Craftmanship > Fablab Venice and Confartigianato
    <br>
    <br>
    2014 X, a variable hunts for identity > FF3300
    <br>
    <br>
    2014 Interaction Design workshop > Durrell Bishop
    <br>
    <br>
    2013 Physical Computing > Giorgio Olivero, TODO
    <br>
    <br>
    2013 Interface design > Susanne Stage and Stanley Wood, Spotify
    <br>
    <br>
    2011 Interactive Data Visualization > Till Nagel
    <br>
    <br>

<!--
    Hello, I am Fabrizio, interaction designer and random illustrator.

    &nbsp;&nbsp; I work across different communication disciplines; from identity, user experience and interface design, illustration for digital and print.
    <p>

    &nbsp;&nbsp; As designer I had the pleasure to work in team with independent design collective, as <a href="http://www.iperstudio.net/" target="_blank">Iperstudio</a> and digital agencies.
  </p>

    I collaborated as researcher and designer with a program of <a href=" https://www.unops.org/english/Pages/Home.aspx" target="_blank"> United Nations Office for Project Services </a> and other organizations.
    <p>

    &nbsp;&nbsp; I studied at IUAV, University of Venice, attending the <a href="http://www.interaction-venice.com/" target="_blank">IxD program</a> run by Gillian Crampton Smith and Philip Tabor.
</p>
    <br><br>
    🐟<font color= "#4683c4"> I live in Venice island.</font>
  -->
  </div>

   </div>

<hr>
   <div class="info">
   <a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
   </div>

</body>
