---
layout: home4
title: about
permalink: about/
author: Fabrizio
menu: yes
menu_order: 3
---



{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>



<div class="home-project-title">
About
</div>


<div class="home-project-sub-title">

Hello, I am Fabrizio, interaction designer and random illustrator, former
<a href="http://www.iperstudio.net/" target="_blank">Iperstudio</a> member and student of <a href="http://www.interaction-venice.com/" target="_blank">IUAV IxD</a> program run by Gillian Crampton Smith and Philip Tabor.
I work across different communication disciplines; from identity design, user experience and interface design, illustration for digital and print. I live and work in Venice.
</div>

<!--

Work

2015 – &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>MM–ONE Group</b> – UI-UX Designer • Venice
<br>
<br>
2014 - 2015 &nbsp; <b>Iperstudio</b> – Former member, Interaction Designer • Venice
<br>
<br>
2014 - 2015 &nbsp; <b>Materiaterza</b> – Graphic Designer • Venice
<br>
<br>
2014 - 2015 &nbsp; <b>Confartigianato</b> – Freelance Designer • Venice
<br>
<br>
2013 – 2014 &nbsp; <b>Unops–Ideass</b> – Research collaborator • FAO, Rome
<br>
<br>
2011 – &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Re:Common</b> – Freelance Designer • Remote
<br>
<br>
2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Service Civil International</b> – Campaigner • Italy, India
<br>
<br>
2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Superstudio Agency</b> – Intern, Designer • Rome
<hr>

<h2><b>Education</b></h2>

2011 – 2014 &nbsp; <b>IUAV</b>, MA in Visual and Multimedia Communications • Venice
<br>
<br>
2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>School of Arts & Crafts</b>, Web Design certificate • Rome
<br>
<br>
2008 – 2011 &nbsp; <b>Roma3 University</b>, BA in Communications studies • Rome
<hr>

<h2><b>Workshop</b></h2>

2015 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Digital Craftmanship</b> > Fablab Venice + Confartigianato
<br>
<br>
2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>X – A variable hunts for identity</b> > FF3300
<br>
<br>
2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Interaction Design workshop</b> – Durrell Bishop
<br>
<br>
2013 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Physical Computing</b> – Giorgio Olivero > TODO
<br>
<br>
2013 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Interface design</b> – Susanne Stage and Stanley Wood > Spotify
<br>
<br>
2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Interactive Data Visualization</b> – Till Nagel
<br>
<br>
-->


</div>



</body>
