---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<!--
<div class="intro">

<div class="home-project-title">
Fabrizio Goglia
</div>

-->

<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>


<div class="home-project-title">
  </div>
  <div class="home-project-sub-title">
  </div>
  <div class="home-project-title">
    </div>
    <div class="home-project-sub-title">
    </div>


<div class="home-project-title">
About
  </div>

  <div class="home-project-sub-title">
    Hello, I am Fabrizio, interaction designer and random illustrator, former
    <a href="http://www.iperstudio.net/" target="_blank">Iperstudio</a> member and student of <a href="http://www.interaction-venice.com/" target="_blank">IUAV IxD</a> program run by Gillian Crampton Smith and Philip Tabor.
    I work across different communication disciplines; from identity design, user experience and interface design, illustration for digital and print. I live and work in Venice.
  </div>

   </div>



<div class="info">
Fabrizio Goglia • Interaction & Visual Design • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com
</div>

</body>
