---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>


<div class="page-content">


    <div class="wrapper">

</div>


<img src="/images/projects/careof/cover_careof.jpg" alt="Careof cover" height="100%" width="100%">

<div class= "home-project-about">
The project aimed to think a new visual identity for C/O, and a proper stylish and responsive design adaptation.
The new communication strategy - developed in coordination with the printed graphic artifacts designed by AUT - integrated a complete rethinking of interactions and tools (as page for contributions) of the website.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_desktop2.jpg" alt="Careof homepage" height="100%" width="46%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_desktop3.jpg" alt="Careof homepage" height="100%" width="46%">
<br>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_new.jpg" alt="Careof tablet view" height="100%" width="100%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_mobile-views.jpg" alt="Careof mobile view" height="100%" width="100%">

<br>
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
</div>

</body>
