---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push(100888900);
  (function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>

  <noscript></noscript>


<div class="page-content">


    <div class="wrapper">

</div>


<img src="/images/projects/careof/cover_careof.jpg" alt="Careof cover" height="100%" width="100%">

<div class= "home-project-about">

  <div class= "project-tag">
  <p>May 30, 2015 / Visual Identity, UX, UI</p>
  </div>

The project aimed to think a new visual identity for the contemporary art organization Careof, and a proper stylish and responsive design adaptation.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_desktop2.jpg" alt="Careof homepage" height="100%" width="46%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_desktop3.jpg" alt="Careof homepage" height="100%" width="46%">

<!-- <img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_new.jpg" alt="Careof homepage" height="100%" width="46%"> -->

<div class= "home-project-about">
The new communication strategy - developed in coordination with the printed graphic artifacts designed by AUT - integrated a complete rethinking of interactions and tools (as page for contributions) of the website.
</div>

<!-- <img src="http://payload399.cargocollective.com/1/10/325579/10282961/output_UuELbY.gif" alt="Careof homepage" height="100%" width="92%"> -->
<img src="/images/projects/careof/careof_mobile_views.jpg" alt="Careof mobile view" height="100%" width="100%">
<img src="/images/projects/careof/careof_screen2.jpg" alt="Careof homepage" height="100%" width="100%">
<img src="/images/projects/careof/careof_screen3.jpg" alt="Careof homepage" height="100%" width="100%">
<img src="/images/projects/careof/careof_tablet_view.jpg" alt="Careof homepage" height="100%" width="100%">

<div class= "home-project-about">
  Credits: code by Iperstudio, identity by AUT.
  Website: <a href="https://www.careof.org/" target="_blank">www.careof.org</a>
  </div>

  <div class= "next">
  <p align="right">
    <a href="http://fabriziogoglia.com/Del_Fablab">Next project ⤍</a>
  </p>
  </div>

<img src="/images/projects/del_fablab/next_del_fablab.jpg" alt="next project Del_Fablab" height="100%" width="100%">

<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">Tel. [it]</a>
</div>

</body>
