---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>


<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-mobile">
</div>

  <div class="home-project-title">
  Careof
  </div>

    <div class="home-project-sub-title">
  Website for a Contemporary Art Organization.
    </div>


  <br>
  <img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof-logo-glitch.jpg" target="_blank" alt="C/O Website" height="100%" width="100%">
<br>

<div class="home-project-credits">
<i>Interaction Design – Development: Iperstudio – Identity: AUT</i>
</div>

<div class="project-text">

<br>
The project aimed to think a new visual identity for C/O, and a proper stylish and responsive design adaptation.
</div>
<br>
<img src="http://transit7.cargocollective.com/1/10/325579/10282917/careof_mobile.png" alt="C/O mobile view" height="100%" width="100%">
<br>
<div class="project-text">
The new communication strategy - developed in coordination with the printed graphic artifacts designed by AUT - integrated a complete rethinking of interactions and tools of the website.
</div>
<br>
<img src="/images/projects/careof/careof-desktop1.jpg" alt="C/O desktop view">
<br>

<img src="/images/projects/careof/careof-desktop2.jpg" alt="C/O desktop view">

<br>
<img src="/images/projects/careof/careof-desktop3.jpg" alt="C/O desktop view">
<br>

<br>
<img src="http://transit7.cargocollective.com/1/10/325579/10282917/careof-desktop-sostieni.jpg" alt="C/O desktop view" height="100%" width="100%">
<br>

<br>
<img src="http://transit7.cargocollective.com/1/10/325579/10282917/careof-desktop-sostieni-2.jpg" alt="C/O desktop view" height="100%" width="100%">
<br>

<!--
<div class="home-project-sub-title">
<a href="http://fabriziogoglia.com/" target="_blank">Project→</a>
</div>
-->

<!--
<div class="home-project-title-mobile">
<a href="http://fabriziogoglia.com/" text-align="left">Projects→</a>
</div>
-->

<div class="home-project-sub-title">
<div style="text-align: right;">
 <a href="http://fabriziogoglia.com//Del_Fablab">Del_Fablab →</a>
 </div>
</div>
<br>

<!--
  <br>
  <img src="http://payload399.cargocollective.com/1/10/325579/10282961/output_UuELbY.gif" alt="C/O glitch">
  <br>
  <a href="https://www.careof.org/" target="_blank" class="button">Explore website</a>
-->

<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com</a>
</div>

</body>
