---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>


<div class="page-content">


    <div class="wrapper">

</div>


<img src="http://payload399.cargocollective.com/1/10/325579/10282917/cover_del_fablab.jpg" alt="Del_fablab cover" height="100%" width="100%">

<div class= "home-project-about">
Website for the first Fablab in a University in Veneto region, Italy.
I work on UX and UI with the aim to give to the users helpful and easy to use tools – as calendar to book machines or subscribe to the workshops.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_mobile-views.jpg" alt="Del_fablab" height="100%" width="100%">
<br>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view1.jpg" alt="Del_fablab" height="100%" width="46%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view2.jpg" alt="Del_fablab" height="100%" width="46%">
<br>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view3.jpg" alt="Del_fablab" height="100%" width="100%">

<div class= "home-project-about">
  Credits: code by Iperstudio
  <p>Website: <a href="http://delfablab.it/" target="_blank">www.delfablab.it</a></p>
</div>

<br>
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
</div>

</body>
