---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>


<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-mobile">
</div>


  <div class="home-project-title">
  Del_Fablab
  </div>

    <div class="home-project-sub-title">
Website for the Digital Enterprise Lab of Ca'Foscari University of Venice.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_fablab-logo.jpg" target="_blank" alt="C/O Website" height="100%" width="100%">

<div class="home-project-credits">
<i>Interaction Design – Development: Iperstudio</i>
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_fablab-mobile.jpg" target="_blank" alt="Del_fablab website mobile view" height="100%" width="100%">

<div class="project-text">
Website for the first Fablab in a University in Veneto region, Italy.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_fablab-desktop-3.jpg" alt="Del_fablab website">


<div class="info">
<div style="text-align: right; margin-right: 20px;"
 <a href="http://fabriziogoglia.com//Venice%3E%3EFuture" align="right">Venice>>Future →</a>
 </div>
</div>

</div>

<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com</a>
</div>

</body>
