---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>


<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<!--
  <div class="home-project-title">
  Del_Fablab
  </div>

    <div class="home-project-sub-title">
Website for the Digital Enterprise Lab of Ca'Foscari University of Venice.
</div>

<div class="home-project-credits">
<i>Interaction Design – Development: Iperstudio</i>
</div>

-->
<img src="http://transit7.cargocollective.com/1/10/325579/10282917/del-logo-cover.jpg" target="_blank" alt="Del_fablab logo" height="100%" width="100%">
<div class="project-text">
Website for the first Fablab in a University in Veneto region, Italy.
<p>I work on UX and UI with the aim to give to the users helpful and easy to use tools – as calendar to book machines or subscribe to the workshops.</p>
</div>
<br>
<img src="http://transit7.cargocollective.com/1/10/325579/10282917/sangiobbe_cafoscari.jpg" target="_blank" alt="Del_fablab lab entrance" height="100%" width="100%">
<br>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_mobile-views.jpg" alt="Del_fablab views" height="100%" width="100%">
<br>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view1.jpg" alt="Del_fablab views" height="100%" width="48%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view2.jpg" alt="Del_fablab views" height="100%" width="48%">
<br>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/del_view3.jpg" alt="Del_fablab views" height="100%" width="98%">

<a href="http://fabriziogoglia.com/Careof">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/logos-bottom-careof.jpg" alt="back to C/O" height="100%" width="48%">
</a>

<a href="http://fabriziogoglia.com/Venice%3E%3EFuture">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/logos-bottom-vf.jpg" alt="go to Venice>>Future page" height="100%" width="48%">
</a>

<br>

<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com</a>
</div>

</body>
