---
layout: home4
menu: yes
title: projects

---


{% include head.html %}

{% include header.html %}

<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>



<div class="page-content">

    <div class="wrapper">

</div>


<div class="footer-col  footer-col-5">
<div class= "title-section">
Featured projects
</div>
</div>


<!-- 1 -->

<div class="footer-col  footer-col-1">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Del_Fablab">
  <img src="/images/projects/del_fablab/del_fablab_cover_tallblock.jpg" alt="Del_Fablab project" height="100%" width="100%">
  </a>
</div>
</div>

<!-- 2 -->

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Venice%3E%3EFuture">
<!-- <img src="/images/projects/venice>>future/venice_future_cover.jpg" height="100%" width="100%"> -->
<img src="/images/projects/venice>>future/cover_v_future.jpg" height="100%" width="100%">
</a>
</div>
</div>

<!-- 3 -->

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Materiaterza">
  <img src="/images/projects/materiaterza/cover_materiaterza_pic.jpg" alt="Materiaterza cover" height="100%" width="100%">
  </a>
</div>
</div>

<!-- 4 -->

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Mesthriller">
  <img src="/images/projects/mesthriller/mesthriller_pattern_cover.jpg" alt="Mesthriller cover" height="100%" width="100%">
  </a>
</div>
</div>


<!-- 5 -->

<div class="footer-col  footer-col-6">

<div class="img-home">
  <a href="http://fabriziogoglia.com/terra-Terra">
  <img src="/images/projects/terra-terra/cover_terra_Terra.jpg" alt="Terra-terra cover" height="100%" width="100%">
  </a>
</div>
</div>

<!-- 6 -->


<div class="footer-col  footer-col-1">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Careof">
<img src="/images/projects/careof/careof_cover_desktop.jpg" alt="C/O Website" height="100%" width="100%">
</a>
</div>
</div>

<!-- -->

<div class="footer-col  footer-col-5">
<div class= "about-type">
Want to work with me on awesome projects? <span class="hyper"><a href="mailto:fabrizio.goglia@gmail.com">Drop me a line</a></span>.
</div>
</div>


<!-- footer -->

<div class="footer-col  footer-col-4">
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">Tel. [it]</a>
</div>
</div>

</body>
