---
layout: home4
---


{% include head.html %}

{% include header.html %}

<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>



<div class="page-content">

    <div class="wrapper">

</div>

<!--
<div class="footer-col  footer-col-1">
<div class="img-svg-home">
<img src="/images/a-b-lue.svg" alt="A—B design process">
</div>
</div>
-->

<!--
<div class="footer-col  footer-col-6">
<img src="/images/s_system.svg" img class="image-rotation" alt="" width="150" height="150">
</div>
-->


<!-- <div class="footer-col  footer-col-6">
</div> -->


<div class="footer-col  footer-col-2">

  <div class= "home-project-about">

    <div class="home-links">
           <p><a href="/images/Fabrizio_Goglia_CV_march2017.pdf" target="_blank">Resume</a> &nbsp; <a href="mailto:fabrizio.goglia@gmail.com?subject= Ciao Fabrizio">Email</a> &nbsp; <a href="https://www.linkedin.com/in/fabrizio-goglia/" target="_blank">Linkedin</a></p>
    </div>

Interaction designer and <span class="hyper"><a href="https://www.instagram.com/frzggl/" target="_blank">random illustrator</a></span>.
Senior User Experience Designer at <span class="hyper"><a href="https://www.sketchin.ch" target="_blank">Sketchin</a></span> and former member of <span class="hyper"><a href="https://www.iperstudio.net" target="_blank">Iperstudio</a></span>.
I work with 💥 bright people for companies and organization since 2010.


</div>
</div>


<!-- footer -->

<div class="footer-col  footer-col-4">
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a>
</div>
</div>

</body>
