---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<!--
<div class="intro">
Fabrizio Goglia
</div>

-->



<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-palm">

</div>


<div class="home-project-title">
<a href="https://www.careof.org/" target="_blank">Careof</a>
  </div>

  <div class="home-project-sub-title">
Website and identity for a Contemporary Art Organization
  </div>

<a href="https://www.careof.org/" target="_blank">
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/Careof.png" target="_blank" alt="C/O Website" height="100%" width="100%">
</a>

<div class="home-project-title">

<a href="http://delfablab.it/" target="_blank">Del_Fablab</a>
  </div>

<div class="home-project-sub-title">
Identity and website of the Digital Fabrication Lab for Ca'Foscari University of Venice.
  </div>

<a href="http://delfablab.it/" target="_blank">
<img src="http://transit6.cargocollective.com/1/10/325579/10282917/del_fabab.png" target="_blank" alt="Del_Fablab Website" height="100%" width="100%">
</a>

   </div>

<!--
<div class="presentation" class="generic_container">

<div class="home-project-title">

<a href="http://fabriziogoglia.com//news/2015/07/25/Careof.html">Careof</a>
  </div>

  <div class="home-project-sub-title">
Website for a Contemporary Art Organization
  </div>

</div>

-->


<div class="home-project-title">

<a href="http://www.venice-future.com/" target="_blank">Venice Forward Future</a>
  </div>

<div class="home-project-sub-title">
Identity, website and exhibition graphic fon an experimental project run within the Venetian furnace Salviati.
  </div>


<a href="http://www.venice-future.com/" target="_blank">
<img src="http://payload138.cargocollective.com/1/10/325579/5074354/vf.gif" target="_blank" alt="Venice Forward Future Website" height="100%" width="100%">
</a>

   </div>



<div class="info">
Fabrizio Goglia • Interaction & Visual Design • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com
</div>

</body>
