---
layout: home4
menu: yes
title: ⓘ
---


{% include head.html %}

{% include header.html %}



  <body style="background-color:#1b1b1b">

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<div class="page-content">

    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<!-- <div class="home-project-title-mobile"> -->

<!--

  <div class="img-svg-home">
  <img src="/images/a-b.svg" alt="A—B design">

  </div>

-->

  <div class= "about-type">

    <div class="title-section">
    <i>About</i>
    </div>

<p>
    I work in team with designers and developers, designing experiences for companies, agencies and organizations.
</p>
<br>
<!--
<p>
    My expertise is create user interfaces with predisposition to ideation, attention to content and accuracy to details.
    I design digital products and services, running workshop with stakeholders, building navigation flows, wireframes, mockups and prototypes.
</p>
<br>
-->
<!--
<p>
    I have a keen interest in researching on visual perception, approaching different design methodologies and technologies.
</p>
<br>
-->
<p>
    I studied at IUAV, University of Venice, attending the <span class="hyper"><a href="http://www.interaction-venice.com/" target="_blank">Interaction Design program</a></span> run by Gillian Crampton Smith and Philip Tabor.
</p>

<p>
    —
</p>

<!--
<br>
<p>
Take a look to my <span class="hyper"><a href="/images/Fabrizio_Goglia_CV_march2017.pdf" target="_blank">resume</a></span> or discover more about UX/UI processes of my selected projects <span class="hyper"><a href="mailto:fabrizio.goglia@gmail.com?subject= UX/UI Portfolio request">requesting my portfolio</a></span>.
</p>
<br>
<hr>
-->



    <!-- <font color= "#ff57c4"> 💼 -->
    <div class="title-section">
    <i>Work</i>
  </div>

  <div class="project-tag">
  2017—Currently
  </div>
  Sketchin – UX Designer • Lugano
  <br>
  <br>
    <div class="project-tag">
    2010—2017
    </div>
    Freelance work
    <br>
    <br>
    <div class="project-tag">
    2015 — 2016
  </div>
    MM–ONE Group – UI-UX Designer • Venice
    <br>
    <br>
    <div class="project-tag">
    2014 — 2015
  </div>
    Iperstudio – Interaction Designer • Venice
    <br>
    <br>
    <!--
    <div class="project-tag">
    2014 — 2015
  </div>
    Materiaterza – Graphic Designer • Venice
    <br>
    <br>

    2014—2015 Confartigianato – Freelance Designer • Venice
    <br>
    <br>
    -->
    <div class="project-tag">
    2013—2014
    </div>
    Unops–Ideass – Research collaborator • FAO, Rome
    <br>
    <br>
    <div class="project-tag">
    2011–2012
    </div>
    Service Civil International – Campaigner • Italy, India
    <br>
    <br>
    <div class="project-tag">
    2010–2011
    </div>
    Superstudio Agency – Intern, Designer • Rome
    <br>
    <br>

    <p>
        —
    </p>

    <!-- <font color= "#ffe257"> 🎓 -->
    <div class="title-section">
    <i>Education</i>
  </div>

    <div class="project-tag">
    2011–2014
    </div>
    IUAV, MA in Visual and Multimedia Communications • Venice
    <br>
    <br>
    <div class="project-tag">
    2009–2010
    </div>
    School of Arts & Crafts, Web Design certificate • Rome
    <br>
    <br>
    <div class="project-tag">
    2008–2011
    </div>
    Roma3 University, BA in Visual Communication studies • Rome
    <br>
    <br>

    <p>
        —
    </p>

    <!-- <font color= "#57ff6b"> 🚀 -->
    <div class="title-section">
    <i>Workshops</i>
  </div>

    <div class="project-tag">
    2015
    </div>
    Digital Craftmanship > Fablab Venice and Confartigianato
    <br>
    <br>
    <div class="project-tag">
    2014
    </div>
    X, a variable hunts for identity > FF3300
    <br>
    <br>
    <div class="project-tag">
    2014
    </div>
    Interaction Design workshop > Durrell Bishop
    <br>
    <br>
    <div class="project-tag">
    2013
    </div>
    Physical Computing > Giorgio Olivero, TODO
    <br>
    <br>
    <div class="project-tag">
    2013
    </div>
    Interface design > Susanne Stage and Stanley Wood, Spotify
    <br>
    <br>
    <div class="project-tag">
    2011
    </div>
    Interactive Data Visualization > Till Nagel
    <br>
    <br>

<!--
<div class="title-section">
    <i>Clients</i>
  </div>

    <div class= "about-mini">
    Ca' Foscari University of Venice • Re:Common • Careof • Zeroviolenza.it • UNOPS/Ideass • Confartigianato • IPERSTUDIO • MID Multimedia Interactive Design • Materiaterza • Mesthriller • MM–ONE: VARAT s.r.l. • ICOTEA s.r.l. • Prisma S.p.A • Camping San Nicolò • Climaway • Giampi s.r.l. • Pd Plants Holland B.V. • Arbloc s.r.l. • Tommaso Barone • Arredamenti Movalli • Agriturismo Le Sorgive e Le Volpi • Alta Pianura Veneta • Hotel Nevada • Caleffi S.p.A. • Stefano Terragni • Hotel Kennedy • Hotel Sheila • Hotel Al Prater • Fantuz Ugo s.r.l. • Hotel Manila • Hotel delle Rose • Hotel delle Mimose • Hotel Bellariva• Hotel Mariver • Vivere Pantelleria s.r.l. • Circuito Città D'Arte Della Pianura Padana • Hotel Canarie • Hotel Mirafiori • Hotel Europa • ParkHotel Ermitage • Veneta Isolatori Spa.
  </div>

</div>
</div>
-->
<p>
    —
</p>

<div class="title-section">
<i>Contacts</i>
</div>

<!-- <div class="footer-col  footer-col-5"> </div>-->
<!-- <div class= "about-type"> -->
☺ Want to collaborate on awesome ideas? <span class="hyper"><a href="mailto:fabrizio.goglia@gmail.com" float="right">Drop me a line</a></span>.
</div>


    </body>
