---
layout: home4
menu: no
title: info
---


{% include head.html %}

{% include header.html %}



  <body style="background-color:#efefef">

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<div class="page-content">

    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<!-- <div class="home-project-title-mobile"> -->


<div class="footer-col  footer-col-1">
  <div class= "info-type">

<p>
    I work in team with designers and developers for companies, agencies and organizations since 2010.
</p>
<br>
<p>
    My expertise is create user interfaces with predisposition to ideation, attention to content and accuracy to details.
    I design digital products, building navigation flows, wireframes, mockups and prototypes.
</p>
<br>
<p>
    I studied at IUAV, University of Venice, attending the IxD program run by Gillian Crampton Smith and Philip Tabor.
</p>
<br>
<p>
Take a look to my complete <span class="hyper"><a href="/images/Fabrizio_Goglia_CV_march2017.pdf" target="_blank">resume</a></span> or discover more about UX/UI processes of my selected projects <span class="hyper"><a href="mailto:fabrizio.goglia@gmail.com?subject= UX/UI Portfolio request">requesting my portfolio</a></span>.
</p>

</div>
</div>


<div class="footer-col  footer-col-1">
  <div class= "info-type">
<i><b>Work</i></b>

<div class="project-tag">
2010—Currently
</div>
Freelance work
<br>

<div class="project-tag">
2015 — 2016
</div>
MM–ONE Group – UI-UX Designer • Venice
<br>

<div class="project-tag">
2014 — 2015
</div>
Iperstudio – Interaction Designer • Venice
<br>

<div class="project-tag">
2013—2014
</div>
Unops–Ideass – Research collaborator • FAO, Rome
<br>
<div class="project-tag">
2011–2012
</div>
Service Civil International – Campaigner • Italy, India
<br>
<div class="project-tag">
2010–2011
</div>
Superstudio Agency – Intern, Designer • Rome

</div>
</div>

<!--

<div class="footer-col  footer-col-1">
  <div class= "info-type">

<b>Education</b>
<br>
<div class="project-tag">
2011–2014
</div>
IUAV, MA in Visual and Multimedia Communications • Venice
<br>
<div class="project-tag">
2009–2010
</div>
School of Arts & Crafts, Web Design certificate • Rome
<br>

<div class="project-tag">
2008–2011
</div>
Roma3 University, BA in Visual Communication studies • Rome
<br>

<b>Workshops</b>
<br>
<div class="project-tag">
2015
</div>
Digital Craftmanship > Fablab Venice and Confartigianato
<br>
<div class="project-tag">
2014
</div>
X, a variable hunts for identity > FF3300
<br>
<div class="project-tag">
2014
</div>
Interaction Design workshop > Durrell Bishop
<br>
<div class="project-tag">
2013
</div>
Physical Computing > Giorgio Olivero, TODO
<br>
<div class="project-tag">
2013
</div>
Interface design > Susanne Stage and Stanley Wood, Spotify
<br>
<div class="project-tag">
2011
</div>
Interactive Data Visualization > Till Nagel

</div>
</div>

<div class="footer-col  footer-col-1">
  <div class= "info-type">
<b>Clients</b>

Ca' Foscari University of Venice • Re:Common • Careof • Zeroviolenza.it • UNOPS/Ideass • Confartigianato • IPERSTUDIO • MID Multimedia Interactive Design • Materiaterza • Mesthriller • MM–ONE: VARAT s.r.l. • ICOTEA s.r.l. • Prisma S.p.A • Camping San Nicolò • Climaway • Giampi s.r.l. • Pd Plants Holland B.V. • Arbloc s.r.l. • Tommaso Barone • Arredamenti Movalli • Agriturismo Le Sorgive e Le Volpi • Alta Pianura Veneta • Hotel Nevada • Caleffi S.p.A. • Stefano Terragni • Hotel Kennedy • Hotel Sheila • Hotel Al Prater • Fantuz Ugo s.r.l. • Hotel Manila • Hotel delle Rose • Hotel delle Mimose • Hotel Bellariva• Hotel Mariver • Vivere Pantelleria s.r.l. • Circuito Città D'Arte Della Pianura Padana • Hotel Canarie • Hotel Mirafiori • Hotel Europa • ParkHotel Ermitage • Veneta Isolatori Spa.

</div>
</div>

-->

<!--
<div class="footer-col  footer-col-1">
  <div class="img-svg-home">
  <img src="/images/a-b.svg" alt="A—B design process">
  </div>
</div>
-->

<hr>

<div class="footer-col  footer-col-5">
<div class= "about-type">
Featured projects
</div>
</div>

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Mesthriller">
  <img src="/images/projects/mesthriller/mesthriller_pattern_cover.jpg" alt="Mesthriller cover" height="100%" width="100%">
  </a>
</div>
</div>

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Mesthriller">
  <img src="/images/projects/mesthriller/mesthriller_pattern_cover.jpg" alt="Mesthriller cover" height="100%" width="100%">
  </a>
</div>
</div>

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Mesthriller">
  <img src="/images/projects/mesthriller/mesthriller_pattern_cover.jpg" alt="Mesthriller cover" height="100%" width="100%">
  </a>
</div>
</div>

<div class="footer-col  footer-col-6">
<div class="img-home">
  <a href="http://fabriziogoglia.com/Mesthriller">
  <img src="/images/projects/mesthriller/mesthriller_pattern_cover.jpg" alt="Mesthriller cover" height="100%" width="100%">
  </a>
</div>
</div>


<hr>
<div class="footer-col  footer-col-5">
<div class= "about-type">
Want to work with me on awesome projects? <span class="hyper"><a href="mailto:fabrizio.goglia@gmail.com">Drop me a line</a></span>.
</div>
</div>


<!-- footer -->

<div class="footer-col  footer-col-4">
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">Tel. [it]</a>
</div>
</div>

</body>
