---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push(100888900);
  (function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>

  <noscript></noscript>


<div class="page-content">


    <div class="wrapper">

</div>

<!--<div class="home-project-title-mobile">
</div> -->
<img src="/images/projects/materiaterza/test2.jpg" alt="Materiaterza graphic" height="100%" width="100%">

<!--<img src="/images/projects/materiaterza/Materiaterza-logo-selection-06.jpg" alt="Materiaterza logo" height="100%" width="96%">-->


<div class="project-text">
</div>

<div class="home-project-about">

  <div class= "project-tag">
  <p>November 13, 2015 / Visual Identity</p>
  </div>

Materiaterza is a group of designers aimed to research on design methodologies and production processes, using digital and analog technologies.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282961/IMGP0929.JPG" alt="Materiaterza graphic" height="100%" width="100%">

<div class="home-project-about">
Their first research was about an alternative method to extruding ceramic material, building and using an handcrafted 3D printer.
</div>

<img src="/images/projects/materiaterza/materiaterza_ceramic1.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<br>
<br>
<img src="/images/projects/materiaterza/materiaterza_ceramic2.jpg" alt="Materiaterza 3d printed ceramic" height="100%" width="46%">
<img src="/images/projects/materiaterza/materiaterza_ceramic3.jpg" alt="Materiaterza 3d printed ceramic" height="100%" width="46%">

<div class= "home-project-about">
Materiaterza's graphic identity follow a generative design process. As for the three coordinates values X, Y, Z of the 3D printer movement – necessary to permit to extrude every material artefact – a similar process is implemented in the typography variations procedure of the logo.
</div>

<img src="http://payload399.cargocollective.com/1/10/325579/10282961/1.png" alt="Materiaterza graphic" height="100%" width="100%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282961/2.png" alt="Materiaterza graphic" height="100%" width="100%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282961/5.png" alt="Materiaterza graphic" height="100%" width="100%">
<img src="http://payload399.cargocollective.com/1/10/325579/10282961/7.png" alt="Materiaterza graphic" height="100%" width="100%">


<div class= "home-project-about">
In the same way as using the 3D printer software is possible change just some variables to create very different concave objects, I research new shapes for the letter M. Moving the type on X, Y axes, rotating and extruding it on Z axis. Then using a full color, I give a bidimensional perception to the altered version of the M.
</div>

<img src="/images/projects/materiaterza/Materiaterza-logo-selection-01.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-02.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-03.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-04.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-05.jpg" alt="Materiaterza graphic" height="100%" width="100%">

<div class= "home-project-about">
Credits: Davide Tuberga – 3D Machine and design of the artefacts; Andrea Reggiani – artisan ceramist
<br>
</div>

<!--
<div class= "next">
<p align="right">
  <a href="http://fabriziogoglia.com/Mesthriller">Next project ⤍</a>
</p>
</div>
-->

<a href="http://fabriziogoglia.com/Mesthriller">
<img src="/images/projects/mesthriller/next_project_mesthriller.jpg" alt="next project Materiaterza" height="100%" width="100%">
</a>

<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">Tel. [it]</a>
</div>

</body>
