---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>


<div class="page-content">


    <div class="wrapper">

</div>

<!--<div class="home-project-title-mobile">
</div> -->
<img src="http://payload399.cargocollective.com/1/10/325579/10282961/IMGP0929.JPG" alt="Materiaterza graphic" height="100%" width="100%">

<!--<img src="/images/projects/materiaterza/Materiaterza-logo-selection-06.jpg" alt="Materiaterza logo" height="100%" width="96%">-->


<div class="project-text">
</div>

<div class= "home-project-about">
Materiaterza is a group of designers aimed to research on design methodologies and production processes, using digital and analog technologies.
Their first research was about an alternative method to extruding ceramic material, building and using an handcrafted 3D printer.
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282961/IMGP0924.JPG" alt="Materiaterza machine" height="100%" width="100%">

<img src="/images/projects/materiaterza/artefacts.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<br>
Materiaterza's graphic identity follow a generative design process. As for the three coordinates values X, Y, Z of the 3D printer movement – necessary to permit to extrude every material artefact – a similar process is implemented in the typography variations procedure of the logo.
<br>
In the same way as using the 3D printer software is possible change just some variables to create very different concave objects, I research new shapes for the letter M. Moving the type on X, Y axes, rotating and extruding it on Z axis. Then using a full-black color, I give a bidimensional perception to the altered version of the M.
</div>
<br>
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-01.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-02.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-03.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-04.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-05.jpg" alt="Materiaterza graphic" height="100%" width="100%">
<img src="/images/projects/materiaterza/Materiaterza-logo-selection-06.jpg" alt="Materiaterza graphic" height="100%" width="100%">

<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
</div>

</body>
