---
layout: page
title: projects
permalink: /projects/
author: Fabrizio
menu: yes
menu_order: 1
---

<ul class="projects-list">
  {% for post in site.posts %}
    {% for cat in post.categories %}
    {% if cat == 'projects' %}
    <li class="project">

<a href="{{ post.url }}">

<img src="{{ post.featured_image }}" alt="" /> </a>


      <h1>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      </h1>
    
      <p>{{ post.excerpt }}</p>

    </li>
    {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
