---
#layout: post-random
#title: Random
#permalink: Random/
#author: Fabrizio
#menu: yes
#menu_order: 2
---

<ul class="post-list">
  {% for post in site.posts %}
    {% for cat in post.categories %}
      {% unless cat == 'random-posts' %}

      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h1>
          <a class="blog-title-size" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>

        {{ post.excerpt }}
        <a class="post-actions" href="{{ post.url | prepend: site.baseurl }}">Read more</a>

      </li>

      <hr class>{{hr}}</hr>

       {% endunless %}
    {% endfor %}
  {% endfor %}
</ul>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
