---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>


<div class="page-content">


    <div class="wrapper">

</div>


<img src="/images/projects/terra-terra/terra-terra_cover_pag.jpg" alt="terra/Terra cover" height="100%" width="100%">

<div class= "home-project-about">
terra/Terra is the experimentation of an economic model where producers and consumers are committed to each other in order to subvert distribution chains, shorten food distance, value social relations, pleasure and taste.
I was asked to redesign a new identity proposal, using some visual element of the previous logo, as the icon of the man with rake and bag.
</div>

<img src="/images/projects/terra-terra/terra-TERRA-0.jpg" alt="terra/Terra" height="100%" width="46%">
<img src="/images/projects/terra-terra/terra-TERRA-1.jpg" alt="terra/Terra" height="100%" width="46%">
<br>
<br>
<img src="/images/projects/terra-terra/terra-TERRA-2.jpg" alt="terra/Terra" height="100%" width="46%">
<img src="/images/projects/terra-terra/terra-TERRA-3.jpg" alt="terra/Terra" height="100%" width="46%">
<br>
<br>
<img src="/images/projects/terra-terra/terra-TERRA-4.jpg" alt="terra/Terra" height="100%" width="46%">
<img src="/images/projects/terra-terra/terra-TERRA-5.jpg" alt="terra/Terra" height="100%" width="46%">
<br>
<br>
<img src="/images/projects/terra-terra/terra-TERRA-6.jpg" alt="terra/Terra" height="100%" width="100%">

<br>
<hr>
<div class="info">
<a href="https://twitter.com/fabriziogoglia" target="_blank">Twitter</a> — <a href="mailto:fabrizio.goglia@gmail.com">Email</a> — <a href="tel:+393343781030">+39 3343781030</a>
</div>

</body>
