---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>


<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-mobile">
</div>

<!--
  <div class="home-project-title">
  Venice Forward Future
  </div>

    <div class="home-project-sub-title">
    Experimental project run within Aut collective and the Venetian furnace Salviati.
</div>

<img src="http://transit7.cargocollective.com/1/10/325579/10282917/vf-logo.jpg" alt="Venice>>Future" height="100%" width="100%">

<div class="home-project-credits">
<i>Identity, Exhibition Graphic and Web Design – Art Direction: Aut</i>
</div>
-->

<img src="https://38.media.tumblr.com/2d3833fcded6c67dc8033d468ece77b7/tumblr_nw47i7XoFX1thir10o1_1280.gif" alt="Venice>>Future" height="100%" width="60%">
<br>

<div class="project-text">
Traditional glass blowing techniques, historically linked to the island of Murano and dependent on the skills of its glass masters, is merge with ceramic 3D-printing, a much younger and more movable process to create non-identical objects.
<p>The production site became a lab where analog and digital techniques are mixed.</p>
</div>
<br>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/vf1.jpg" alt="Venice>>Future" height="100%" width="100%">

<br>
<div class="project-text">
The resulting outcomes are been presented at VL2015 (Fuori Salone di Milano – May 2015) and London Design Festival (Tent London – September 2015).
<p>In this project I work on the concept with AUT and MAteriaterza collective, and I designed graphic identity and printed artefacts for the exposition (with Chiara Costantini and Luca Coppola), and the mockup of the project’s website (developed by Federico Bovara).</p>
</div>
<br>

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/7_o.jpg" alt="Venice>>Future" height="100%" width="48%">

<img src="/images/projects/venice>>future/v>>f-2.gif" alt="glass-blowing process" height="100%" width="48%">
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/3.2.jpg" alt="Venice>>Future" height="100%" width="48%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/3.3.jpg" alt="Venice>>Future" height="100%" width="48%">

<br>
<div class="project-text">
The logo design is structured on the principles of the coordinates XYZ, that allow the 3d print process to create concave object.
The types of the logo follow a rigid grid system, but to simulate the unverifiable variables of the 3d print and blown glass process, I altered their shape analogically.
The outcome is a collection of non-identical, but coordinated, logos; as the physical object that we created.
</div>
<br>

<img src="/images/projects/venice>>future/001.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/002.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/003.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/004.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/005.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/006.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/007.jpg" alt="logos" height="100%" width="48%">

<img src="/images/projects/venice>>future/008.jpg" alt="logos" height="100%" width="48%">

<img src="http://67.media.tumblr.com/489e0a454850dc8756551fbe6b36c15f/tumblr_o0qjzeOv2J1u6r9hdo3_1280.gif" alt="Venice>>Future" height="100%" width="100%">


<img src="http://payload399.cargocollective.com/1/10/325579/10282917/2.6.jpeg" alt="Venice>>Future" height="100%" width="100%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/Scan-23.jpeg" alt="Venice>>Future" height="100%" width="100%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/Scan-24.jpeg" alt="Venice>>Future" height="100%" width="100%">

<img src="/images/projects/venice>>future/logo.gif" alt="logos">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/manifesto.jpg" alt="Venice>>Future" height="100%" width="100%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/1.4.jpg" alt="Venice>>Future" height="100%" width="100%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/3.9.jpg" alt="Venice>>Future" height="100%" width="100%">

<img src="http://payload399.cargocollective.com/1/10/325579/10282917/vf.jpg" alt="Venice>>Future" height="50%" width="50%">


<div class="project-text">
<p>
<b>Web Articles</b>: <a href="http://www.theperfectjob.it/le-spettacolari-creazioni-del-collettivo-atu-mescolano-il-vetro-soffiato-muranese-e-la-ceramica-stampata-in-3d/" target="_blank">The perfect job</a>, <a href="http://nykyinen.com/venice-future-a-project-by-breaking-the-
mould/" target="_blank">Nykyinen</a>, <a href="http://www.domusweb.it/content/domusweb/it/notizie/2015/04/30/subalterno1_venice_future.html" target="_blank">Domusweb</a>, <a href="http://www.artribune.com/2015/04/eppur-si-muove-le-nuove-facce-del-design-italiano/" target="_blank">Artribune</a>.
</p>
<p>
<b>Exhibitions</b>: Fuori Salone di Milano – May 2015; London Design Festival 2015 Tent London, September 2015.
</p>
<p>
<b>Credits</b>: <a href="http://www.breaking-the-mould.com/en.php" target="_blank">BTM</a>, <a href="http://materiaterza.com/" target="_blank">Materiaterza</a>, <a href= "http://www.salviati.com/" target="_blank">Salviati</a>.
</div>
</p>
<br>
<div class="info">
<div style="text-align: right; margin-right: 20px;">
 <a href="http://fabriziogoglia.com//Careof" align="right">Careof →</a>
 </div>
</div>
<br>

<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com</a>
</div>

</body>
