---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>


<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>

<div class="home-project-title-mobile">
</div>


  <div class="home-project-title">
  Venice Forward Future
  </div>

    <div class="home-project-sub-title">
    Experimental project run within Aut collective and the Venetian furnace Salviati.

</div>

<br>
  <img src="http://payload399.cargocollective.com/1/10/325579/10282917/7_o.jpg" alt="Venice>>Future" height="100%" width="100%">
<br>

<div class="home-project-credits">
<i>Identity, Exhibition Graphic and Web Design – Art Direction: Aut</i>
</div>

<div class="project-text">
<br>
Traditional glass blowing techniques, historically linked to the island of Murano and dependent on the skills of its glass masters, is merge with ceramic 3D-printing, a much younger and more movable process to create non-identical objects.
</div>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/vf1.jpg" alt="Venice>>Future" height="100%" width="100%">
<br>
<div class="project-text">
The production site became a lab where analog and digital techniques are mixed.
</div>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/3.2.jpg" alt="Venice>>Future" height="100%" width="100%">
<br>
<div class="project-text">
The resulting outcomes are been presented at VL2015 (Fuori Salone di Milano – May 2015) and London Design Festival (Tent London – September 2015).
</div>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/3.3.jpg" alt="Venice>>Future" height="100%" width="100%">
<br>
<div class="project-text">
For this project I designed graphic identity and printed artefacts for the exposition (with Chiara Costantini and Luca Coppola), and the mockup of the project’s website (developed by Federico Bovara).
</div>
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/2.6.jpeg" alt="Venice>>Future" height="100%" width="100%">
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/Scan-23.jpeg" alt="Venice>>Future" height="100%" width="100%">
<br>
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/Scan-24.jpeg" alt="Venice>>Future" height="100%" width="100%">
<br>
<div class="project-text">
<b>Web Articles</b>: <a href="http://www.theperfectjob.it/le-spettacolari-creazioni-del-collettivo-atu-mescolano-il-vetro-soffiato-muranese-e-la-ceramica-stampata-in-3d/" target="_blank">The perfect job</a>, <a href="http://nykyinen.com/venice-future-a-project-by-breaking-the-
mould/" target="_blank">Nykyinen</a>, <a href="http://www.domusweb.it/content/domusweb/it/notizie/2015/04/30/subalterno1_venice_future.html" target="_blank">Domusweb</a>, <a href="http://www.artribune.com/2015/04/eppur-si-muove-le-nuove-facce-del-design-italiano/" target="_blank">Artribune</a>.
<br>
<b>Exhibitions</b>: Fuori Salone di Milano – May 2015; London Design Festival 2015 Tent London, September 2015.
<br>
<b>Credits</b>: <a href="http://www.breaking-the-mould.com/en.php" target="_blank">BTM</a>, <a href="http://materiaterza.com/" target="_blank">Materiaterza</a>, <a href= "http://www.salviati.com/" target="_blank">Salviati</a>.
</div>

<div style="text-align: center;">
<a href="http://fabriziogoglia.com/" text-align="left">← Projects</a> <a href="http://fabriziogoglia.com//Careof" text-align="right">Careof →</a>
</div>
<br>



<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com</a>
</div>

</body>
