---
layout: home4
---


{% include head.html %}

{% include header.html %}


<body>

  <script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100888900);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript></noscript>

<!--
<div class="intro">

<div class="home-project-sub-title">
Fabrizio Goglia
</div>

-->

<div class="page-content">


    <div class="wrapper">

      <header class="site-header">
      </header>

</div>


<div class="home-project-title-mobile">
</div>

<div class="introduction">
Graphics, Interactions and sketches by <font color="#0010ff">Fabrizio Goglia<font>
  </div>


<div class="home-project-title">
<a href="https://www.careof.org/en" target="_blank">Careof</a>
  </div>

  <div class="home-project-sub-title">
Website for a Contemporary Art Organization.
  </div>

<a href="https://www.careof.org/en" target="_blank">
<!-- <img src="http://payload399.cargocollective.com/1/10/325579/10282917/Careof.png" target="_blank" alt="C/O Website" height="100%" width="100%"> -->
<img src="http://payload399.cargocollective.com/1/10/325579/10282917/careof_screen.jpg" alt="C/O Website" height="100%" width="100%">
</a>
<div class="home-project-credits">
<i>Interaction Design – Development: Iperstudio – Identity: AUT</i>
</div>


<div class="bg2">
<div class="home-project-title-bg2">

<a href="http://delfablab.it/" target="_blank">Del_Fablab</a>

  </div>

<div class="home-project-sub-title">
  <font color="black">
Website for the Digital Enterprise Lab of Ca'Foscari University of Venice.
</font>
  </div>

<a href="http://delfablab.it/" target="_blank">
  <img src="http://payload399.cargocollective.com/1/10/325579/10282917/Layer-5.jpg" alt="Del_Fablab Website" height="100%" width="100%">
  </a>
<!-- <img src="http://transit6.cargocollective.com/1/10/325579/10282917/del_fabab.png" target="_blank" alt="Del_Fablab Website" height="100%" width="100%">
</a> -->

<div class="home-project-credits">
  <font color="black">
<i>Interaction Design – Development: Iperstudio</i>
</font>
</div>
</div>


<!--
<div class="home-project-credits">
Collaboration within Iperstudio,
</div>
-->

   </div>

<!--
<div class="presentation" class="generic_container">

<div class="home-project-title">

<a href="http://fabriziogoglia.com//news/2015/07/25/Careof.html">Careof</a>
  </div>

  <div class="home-project-sub-title">
Website for a Contemporary Art Organization
  </div>

</div>

-->


<div class="home-project-title">

<!--<a href="http://fabriziogoglia.com//Venice%3E%3EFuture">Venice Forward Future</a> -->
<a href="http://www.venice-future.com/" target="_blank">Venice Forward Future</a>
  </div>

<div class="home-project-sub-title">
Experimental project run within Aut collective and the Venetian furnace Salviati.
  </div>


<a href="http://www.venice-future.com/" target="_blank">
  <img src="http://payload399.cargocollective.com/1/10/325579/10282917/Scan-23.jpeg" height="100%" width="100%">
  </a>

<!-- <img src="http://payload138.cargocollective.com/1/10/325579/5074354/vf.gif" alt="Venice Forward Future Website" height="100%" width="100%">
</a> -->

<div class="home-project-credits">
<i>Identity, Exhibition Graphic and Web Design – Art Direction: Aut</i>
</div>
</div>


<hr>
<div class="info">
Fabrizio Goglia • Interaction Designer • <a href="mailto:info@fabriziogoglia.com">info@fabriziogoglia.com </a>
</div>

</body>
