<beta class="site-beta">

  <div class="wrapper">

    <div class="beta-col-wrapper">
      <div class="beta-col  beta-col-1">


          <font color="black">

            Hello, I am Fabrizio, interaction designer and random illustrator, former
            <a href="http://www.iperstudio.net/" target="_blank">Iperstudio</a> member and student of <a href="http://www.interaction-venice.com/" target="_blank">IUAV IxD</a> program run by Gillian Crampton Smith and Philip Tabor.
            I work across different communication disciplines; from identity design, user experience and interface design, illustration for digital and print. I live and work in Venice.


      </div>

      <div class="beta-col  beta-col-2">
        Hello, I am Fabrizio, interaction designer and random illustrator, former
        <a href="http://www.iperstudio.net/" target="_blank">Iperstudio</a> member and student of <a href="http://www.interaction-venice.com/" target="_blank">IUAV IxD</a> program run by Gillian Crampton Smith and Philip Tabor.
        I work across different communication disciplines; from identity design, user experience and interface design, illustration for digital and print. I live and work in Venice.

            </div>


    </div>

  </div>

</beta>
