<head>

  <link rel="SHORTCUT ICON" href="/images/f.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Fabrizio Goglia, Interaction Designer & Random Illustrator">
    <meta name="keywords" content="interaction design, visual design, UX, UI, illustration, fabrizio goglia">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="image_src" href="/images/ab_drawing.jpg" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
