
@charset "utf-8";

// Our variables
$base-font-family: 'Lekton', sans-serif;
$base-font-family: 'Work Sans', sans-serif;
$base-font-family: 'Permanent Marker', sans-serif;
$base-font-family: 'Press Start 2P', cursive, sans-serif;
$base-font-family:'Cotham', sans-serif;

$base-font-size:   21px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-line-height: 3.5;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

$blog-title-size: 42px;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #EFEFEF;
$brand-color:      rgb(0, 0, 0);


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        900px;

// Using media queries with like this:
 //@include media-query($palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
//   }
 //}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*
  Alpha layout
 */



 body.with-full-bg-5 {

   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   //color: #010712;
   color: #f2f3ca;
   font-size: 29px;
   margin-top: 80px;
   line-height:1.6;
   text-transform: none;
   text-align: left;

     background-size: cover;
     background-repeat: no-repeat;
     background-color: #f3f3f3;

 }

 @include media-query($on-palm) {
   body.with-full-bg-5 {

   font-size: 21px;
   line-height:1.6;
   margin-top: 0%;
   text-align: left;
   color: #f2f3ca;

 }
 }

  .with-full-bg-5 .text-b {

   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   color: #010712;
   font-size: 19px;
   line-height:1.6;
   text-transform: none;
   text-align: left;
   margin-top: 20px;
}

@include media-query($on-palm) {
  .with-full-bg-5 .text-b {

    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #010712;
    font-size: 19px;
    line-height:1.6;
    text-transform: none;
    text-align: left;

  }
}



 .with-full-bg-5 .page-content a {

     text-shadow: none;
   text-decoration: none;
   border-bottom: 1px;
   color:#4539e4;

   &:hover {

     color: #1200ff;
       border-bottom: none;
     text-decoration: none;
     text-shadow: none;
   }
   }

   @include media-query($on-palm) {
   .with-full-bg-5 .page-content a {

       text-shadow: none;
     text-decoration: none;
     border-bottom: 1px;
     color:#4539e4;

     &:hover {

         border-bottom: none;
       text-decoration: none;
       text-shadow: none;
       color: #1200ff;

     }
     }
 }

 .with-full-bg-5 .home-links {

 font-size: 19px;
 color:#4539e4;
 //color:rgba(0, 39, 255, 0.5);
 text-transform: none;
 text-shadow: none;
 text-decoration: none;
 padding-bottom: 20px;
 padding-top: 20px;
 text-transform: none;
 }

 @include media-query($on-palm) {
 .with-full-bg-5 .home-links {
   font-size: 19px;
   color: #4539e4;
   text-transform: none;
   text-shadow: none;
   text-decoration: none;
   padding-bottom: 20px;
   padding-top: 20px;
   text-transform: none;
 }
 }

 .with-full-bg-5 .home-links a {

   text-shadow: none;
 color: black;
 text-decoration: none;
 text-transform: none;

 &:hover {

     border-bottom: none;
   text-decoration: none;
   text-shadow: none;
   text-transform: none;

 }
 }

 @include media-query($on-palm) {

   .with-full-bg-5 .home-links a {

     text-shadow: none;
   color: black;
   text-decoration: none;
   text-transform: none;

   &:hover {

       border-bottom: none;
     text-decoration: underline;
     text-shadow: none;
     text-transform: none;
     color:black;
   }
   }
 }










/**
 * Basic styling
 */
body {
    font-family: Lekton, sans-serif;;
    font-size: 18px;
    /*font-size: 100px; */
    line-height: 1.5;
    font-weight: 400;
    //color: $text-color;
    color: black;
 //background-color: #ECECEC;
 background-color: #ffffff;
overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@include media-query($on-palm) {
body {
    font-family: $base-font-family;
    font-size: 18px;
    /*font-size: 100px; */
    line-height: 1.5;
    font-weight: 400;
    //color: $text-color;
    //color: black;
    color: black;
 //background-color: #ECECEC;
background-color: #ECECEC;
}
}

.presentation {

background-color: #4539e4;
font-size: 23px;
color: white;
font-family: 'Lekton', sans-serif;
font-weight: 700;
text-transform: lowercase;
border-top: 100px;


}

.generic_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    height: 100%;

  }

.highlight {

  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;

}

p.small {
    line-height: 1.2;
}

p.big {
    line-height: 3.7;
}


hr {
    //border: 0;
    //color: black;
    color: #131313;
    //height: 1px;
    //border-bottom: 2px dashed;
    //border-bottom: 3px;
    margin-bottom: 20px;
    margin-top: 0px;
        //border-top: 4px #131313 solid;
    border-top: 1px #c1c1c1 solid;

}

@include media-query($on-palm) {
hr {
    //border: 0;
    //color: black;
    color: #131313;
    //background-color: black;
    //height: 1px;
    border-bottom: 1px inset;
    //border-bottom: 1px inset;
    margin-bottom: 20px;
    margin-top: 0px;
}
}


@include media-query($on-palm) {
.with-full-bg-3 .home-project-title-mobile{
margin-top: 70px;
margin-left:50px;
}
}

.with-full-bg-3 .site-title {

    font-family: 'Work Sans', sans-serif;
    //color: #f8f8ff;
    color: #131313;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: 60px;
    letter-spacing: none;

    margin-top: none;
    margin-bottom: none;
    margin-left: 27px;
    float: left;
    text-transform: none;
    display: block;

    border-bottom-style: none;

    transition-duration: 1.3s;


        &:hover {

            //color: #cdd0ff;
            color: #4539e4;

            //-webkit-filter: blur(2px);
        }
    &:active {

      //color: #cdd0ff;
      color: #4539e4;


    }

    }

@include media-query($on-palm) {
    .with-full-bg-3 .site-title {

        font-family: 'Work Sans', sans-serif;
        //color: #f8f8ff;
        color: #131313;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: none;

        margin-top: 15px;
        margin-bottom: none;
        margin-left: 0px;
        float: left;
        text-transform: none;
        display: block;

        border-bottom-style: none;

        transition-duration: 1.3s;


            &:hover {

                //color: #cdd0ff;
                color: #4539e4;
                background-color: transparent;
                //-webkit-filter: blur(2px);
            }
        &:active {

          //color: #cdd0ff;
          color: #4539e4;


        }

        }
}



body.with-full-bg-3 {

  //color: #171717;
  color: #f1f0c7;
  font-size: 70px;
  margin-top: 0px;
  line-height: 80px;

  background-repeat: no-repeat;
  line-height:1.4;
  //background-color: #171717;
  background-color: #efefef;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0px;
  background-size: cover;


  video{
 position:fixed;
 left:0;
        top:0;
 min-width:100%;
 min-height:100%;
 width:auto;
 height:auto;
 z-index:-100;
 visibility: visible;
}
}


.with-full-bg-3 .bg1 {

    background-color: #c6c6c6;
    //background-color: #8561f1;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

  }

  @include media-query($on-palm) {

    .with-full-bg-3 .bg1 {
        background-color: #c6c6c6;
        //background-color: #8561f1;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;

      }
  }

  .with-full-bg-3 .bg2 {

      //background-color: #af9928;
      //background-color:#e0e0e0;
      background-color: #a3a3a3;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @include media-query($on-palm) {

      .with-full-bg-3 .bg2 {
          //background-color: #af9928;
          //background-color:#e0e0e0;
          background-color: #a3a3a3;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 0px;

        }
    }

    .with-full-bg-3 .bg3 {

        //background-color: #af9928;
        //background-color:#e0e0e0;
        background-color: #c6c6c6;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      @include media-query($on-palm) {

        .with-full-bg-3 .bg3 {
            //background-color: #af9928;
            //background-color:#e0e0e0;
            background-color: #c6c6c6;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;

          }
      }


.with-full-bg-3 .info {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
font-size: 14px;
color: #131313;
text-align: center;
text-transform: none;
line-height: 20px;
//background-color: #ff7574;
margin-top: 20px;
margin-bottom: 20px;
}



.with-full-bg-3 .info a{
font-family: 'Work Sans', sans-serif;
font-weight: 400;
font-size: 14px;
color: #131313;
text-align: center;
text-transform: none;
//line-height: 20px;
//background-color: #ff7574;
margin-top: 20px;
margin-bottom: 20px;

&:hover {

    //color: #2fffa7;
    color: #4539e4;
    background-color: transparent;
    //-webkit-filter: blur(2px);

}

}

@include media-query($on-palm) {
  .with-full-bg-3 .info {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #131313;
  text-align: center;
  text-transform: none;
  line-height: 10px;
  //background-color: #ff7574;
  margin-top: 20px;
  margin-bottom: 20px;

  }
}

@include media-query($on-palm) {
  .with-full-bg-3 .info a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  font-size: 14px;
  //color: #f8f8ff;
  color: #131313;
  text-align: center;
  text-transform: none;
  line-height: 30px;
  //background-color: #ff7574;
  margin-top: 20px;
  margin-bottom: 20px;
  }
}

.with-full-bg-3 .home-project-title a{

  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 700;

  padding-bottom: 0px;
  padding-top: 30px;
  text-transform: none;
  transition-duration: 1.3s;

  &:hover {

      color: #585fff;
      //color: #0010ff;

      //-webkit-filter: blur(2px);
  }
&:active {
//color: #cc5c5c;
color: #585fff;

}


}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title a{

    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
    text-align: center;

    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 0px;
    padding-top: 30px;
    text-transform: none;
    transition-duration: 1.3s;

    &:hover {

        color: #ff7574;
        //color: #0010ff;

        //-webkit-filter: blur(2px);
    }
  &:active {
  //color: #cc5c5c;
  color: #0010ff;

  }

  }
}

.with-full-bg-3 .home-project-title-bg2 {

  font-family: 'Poppins', sans-serif;
  font-size: 150px;
  letter-spacing: 2px;
  //color: #efefef;
  color: #ffffff;
  text-align: center;

  text-shadow: none;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 0px;
  padding-top: 30px;
  text-transform: none;
  transition-duration: 1.3s;

}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title-bg2 {

    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    letter-spacing: 2px;
    //color: #efefef;
    color: #ffffff;
    text-align: center;


    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 0px;
    padding-top: 50px;
    text-transform: none;
    transition-duration: 1.3s;

  }
}


.with-full-bg-3 .home-project-title-bg2 a{

  font-family: 'Poppins', sans-serif;
  font-size: 150px;
  letter-spacing: 2px;
  color: #efefef;
  text-align: center;

  text-shadow: none;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 0px;
  padding-top: 30px;
  text-transform: none;
  transition-duration: 1.3s;

  &:hover {

      //color: #ff7574;
      color: #313131;

      //-webkit-filter: blur(2px);
  }
&:active {
//color: #cc5c5c;
color: #0010ff;

}


}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title-bg2 a{

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #efefef;
    text-align: center;

    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 0px;
    padding-top: 30px;
    text-transform: none;
    transition-duration: 1.3s;

    &:hover {

        //color: #ff7574;
        color: #0010ff;

        //-webkit-filter: blur(2px);
    }
  &:active {
  //color: #cc5c5c;
  color: #0010ff;

  }

  }
}



.with-full-bg-3 .home-project-title {

  font-family: 'Poppins', sans-serif;
  font-size: 150px;
  letter-spacing: 2px;
  color: black;
  text-align: center;

  text-shadow: none;
  text-decoration: none;
  font-weight: 700;

  padding-bottom: 0px;
  padding-top: 70px;
  text-transform: none;

}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title {

    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
    text-align: center;

    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 0px;
    padding-top: 30px;
    text-transform: none;

  }
}




.with-full-bg-3 .site-nav {


font-family: 'Lekton', sans-serif;
    color:#171717;
    display: inline;
    font-size: 16px;
    float: right;
    position: 0px;
    line-height: 60px;
    font-weight: 300;
    text-transform: none;
    color:white;

    &:hover {

        color: #0010ff;
    }

  }


.with-full-bg-3 .home-project-sub-title {

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 120px;
  padding-left: 120px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-sub-title {

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: black;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  line-height: 1.6;
  padding-top: 25px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}

.with-full-bg-3 .introduction {

  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 150px;
  padding-left: 150px;
  text-transform: uppercase;

}

@include media-query($on-palm) {
.with-full-bg-3 .introduction {

  font-family: 'Volkhov', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: black;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  line-height: 1.3;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;
}
}



.with-full-bg-3 .home-project-credits {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  //background-color: lime;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 26px;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-credits {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
}



.with-full-bg-3 .home-project-about {

  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 50px;
  padding-left: 50px;
  text-transform: none;

}


@include media-query($on-palm) {
.with-full-bg-3 .home-project-about {

  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}

.with-full-bg-3 .title-section {

  font-family: 'Work Sans', sans-serif;
  font-size: 85px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 108px;
    padding-left: 0px;
    text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .title-section {

  font-family: 'Work Sans', sans-serif;
  font-size: 46px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  text-transform: none;

}
}


.with-full-bg-3 .project-title {

  font-family: 'Work Sans', sans-serif;
  font-size: 85px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-right: 108px;
  padding-left: 110px;
  text-transform: none;

}



.with-full-bg-3 .about-type {

  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 110px;
  padding-left: 110px;
  text-transform: none;

}

.with-full-bg-3 .info-type {

  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  //color: #f8f8ff;
  color: #131313;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-right: 0px;
  padding-left: 100px;
  text-transform: none;

}

@include media-query($on-palm) {

  .with-full-bg-3 .info-type {

    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    //color: #f8f8ff;
    color: #131313;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 400;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-transform: none;

  }

}

/*

.with-full-bg-3 .first-type {

  font-family: 'Cotham', sans-serif;
  font-size: 35px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 110px;
  padding-left: 110px;
  text-transform: none;

}
*/

@include media-query($on-palm) {
.with-full-bg-3 .about-type {

  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}


.with-full-bg-3 .about-type2 {

  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 100px;
  padding-right: 0px;
  padding-left: 0px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .about-type2 {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-transform: none;

}
}



.with-full-bg-3 .about-mini {

  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 110px;
  padding-left: 5px;

}

@include media-query($on-palm) {
.with-full-bg-3 .about-mini {

  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 0px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 5px;
  text-transform: none;

}
}



.with-full-bg-3 .next {

  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .next {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: none;

}
}


.with-full-bg-3 .home-project-404 {

  font-family: 'Work Sans', sans-serif;
  font-size: 45px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 100px;
  padding-left: 100px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-404 {

  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}


@media screen and (min-width: 1400px) {
.with-full-bg-3 .home-project-about {

  font-family: 'Work Sans', sans-serif;
  font-size: 33px;
  //color: #f8f8ff;
  color: #131313;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;

  padding-top: 150px;
  padding-bottom: 170px;
  padding-right: 250px;
  padding-left: 250px;
  text-transform: none;
}
}

.with-full-bg-3 .about-text {

  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  color: #171717;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;

  padding-top: 100px;
  padding-bottom: 170px;
  padding-right: 250px;
  padding-left: 250px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .about-text {

  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  color: #171717;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}

.with-full-bg-3 .project-tag {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #828282;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 5px;
  text-transform: none;

}

@include media-query($on-palm) {
  .with-full-bg-3 .project-tag {

    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #828282;
    text-align: left;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.6;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform: none;

  }
}

.with-full-bg-3 .home-project-about-down-arrow {

  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  //color: #f8f8ff;
  color: #131313;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;

  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 250px;
  padding-left: 250px;
  text-transform: none;

}

@include media-query($on-palm) {
  .with-full-bg-3 .home-project-about-down-arrow {

    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    //color: #f8f8ff;
    color: #131313;
    text-align: center;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.6;
    padding-top: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: none;

  }
}


.with-full-bg-3 .project-text {

  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  color: black;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 120px;
  padding-left: 120px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .project-text {

  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  color: black;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}



.with-full-bg-3 .home-links {

font-family: 'Lekton', sans-serif;
font-size: 21px;
color: #171717;
text-transform: none;
text-shadow: none;
text-decoration: none;

padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}

@include media-query($on-palm) {
.with-full-bg-3 .home-links {
font-size: 20px;
color: #171717;
text-transform: none;
text-shadow: none;
text-decoration: none;
padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}
}


@include media-query($on-palm) {
  body.with-full-bg-3 {

  font-size: 45px;
  line-height: 50px;
  margin-top: 0%;
  text-align: center;
  //color: #171717;
  color: #ffffff;


}
}

/*

.with-full-bg-3 a {

    color: white;
    //letter-spacing: 15px;
    //text-decoration: underline;
    //border-bottom: solid white;

    //-webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1s;

    background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        //  -webkit-filter: blur(0px);
        text-shadow: none;
      color: white;
      //font-size: 55px;
        border-bottom: none;
    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;
    }
}


@include media-query($on-palm) {
.with-full-bg-3 a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
//border-bottom: solid;
//border-bottom-width: 1px;
//letter-spacing: 15px;
text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

//-webkit-filter: blur(0px);
transition-duration: 1s;

//background-color: transparent;
//border-bottom-width: 1px;
//text-shadow: 2px 0px black;

&:hover {

    //-webkit-filter: blur(5px);
    text-shadow: none;
  color: white;
  border-bottom: none;
//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

*/

::selection {
    background-color: #4539e4;
    //color: #af9928;
    //color: #2fffa7;
    color: #4539e4;
}

.with-full-bg-3 ::selection {

  background-color: #131313;
  //color: #4539e4;
  //color: #2fffa7;
  color: #efefef;
}

.with-full-bg-3 .wrapper {
    //max-width: -webkit-calc(100% - (#{$spacing-unit} * 2));
    //max-width:         calc(100% - (#{$spacing-unit} * 2));
    max-width: -webkit-calc(100% - (0px * 2));
    max-width: calc(100% - (0px * 2));

    //margin-right: auto;
    //margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(100% - (#{$spacing-unit}));
        max-width:         calc(100% - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 0px;
        padding-left: 0px;
    }

    @include media-query($on-palm) {
        max-width: -webkit-calc(100% - (#{$spacing-unit}));
        max-width:         calc(100% - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 0px;
        padding-left: 0px;
        padding-left: 0px;
    }
}




.cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

.cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}



.cf img.bottom {
  opacity:0;
}

.cf img.top:hover {
  opacity:0;

  .cf img.bottom {
    opacity:1;
  }

}



.image-rotation {

  position: static;
  //top: 50%;
  //left: 50%;
  width: 150px;
  height: 150px;
  margin: 130px 0 0 0px;
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.with-full-bg-3 .img-home img{
  -webkit-filter: brightness(100%);
  transition-duration: 1.2s;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;


&:hover {

/*
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #131313;
  opacity: 0.4;
  transition-duration: 1.2s;
*/

 -webkit-filter: brightness(30%);
transition-duration: 1.2s;

}
}

@include media-query($on-palm) {
.with-full-bg-3 img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 0px;

  margin-bottom: 0px;
}
}

.with-full-bg-3 .img-svg-home img{

  width: 50%;
  color: black;
  margin-top: 150px;
  margin-bottom: 150px;

}

@include media-query($on-palm) {
.with-full-bg-3 .img-svg-home img {

  width: 80%;
  margin-top: 30px;

}
}



.with-full-bg-3 .img-project-bottom img{
  //-webkit-filter: brightness(100%);
  opacity: 1.0;
  transition-duration: 1.3s;
  margin-top: 0px;

&:hover {

opacity: 0.5;
transition-duration: 1.2s;

}
}

.with-full-bg-3 .img1 {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 0px;
  margin-bottom: 10px;


&:hover {

-webkit-filter: brightness(100%);
transition-duration: 1.2s;
}
}

@include media-query($on-palm) {
.with-full-bg-3 .img1 {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 0px;
  margin-bottom: 10px;
}
}

@include media-query($on-palm) {
  body.with-full-bg {

  font-size: 33px;
  line-height: 44px;
  margin-top: 0px;

    }
  }

  body.with-full-bg-2 {

    //color: #14141C;
    text-transform: uppercase;
    text-align: left;
    //background-color: white;
    color: white;
    font-size: 70px;
    line-height: 80px;
    margin-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4539e4;
    //line-height:1;

    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: visible;
  }

}


.with-full-bg-2 .page-content a {

    text-shadow: none;
  text-decoration: underline;
  border-bottom: 1px;
  color:white;

  &:hover {

    color: white;
      border-bottom: none;
    text-decoration: none;
    text-shadow: none;
  }
  }

  @include media-query($on-palm) {
  .with-full-bg-2 .page-content a {

      text-shadow: none;
    text-decoration: underline;
    border-bottom: 1px;
    color:white;

    &:hover {

        border-bottom: none;
      text-decoration: none;
      text-shadow: none;
      color:white;

    }
    }
}

.with-full-bg-2 .home-links {

font-size: 21px;
color: white;
text-transform: none;
text-shadow: none;
text-decoration: none;
padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}

@include media-query($on-palm) {
.with-full-bg-2 .home-links {
  font-size: 20px;
  color: white;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: none;
}
}

.with-full-bg-2 .home-links a {

  text-shadow: none;
color: white;
text-decoration: none;
text-transform: none;

&:hover {

    border-bottom: none;
  text-decoration: underline;
  text-shadow: none;
  text-transform: none;

}
}

@include media-query($on-palm) {

  .with-full-bg-2 .home-links a {

    text-shadow: none;
  color: white;
  text-decoration: none;
  text-transform: none;

  &:hover {

      border-bottom: none;
    text-decoration: underline;
    text-shadow: none;
    text-transform: none;
    color:white;
  }
  }
}


  @include media-query($on-palm) {
    body.with-full-bg-2 {

    font-size: 45px;
    line-height: 50px;
    margin-top: 0%;
    text-align: left;
    color: white;

    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: hidden;
  }

/*
    background-image: url('http://www.isoncampaign.org/files/images/blogpics/enckeRipoff_movie_short.gif');
    background-size: cover;
    background-repeat: repeat;
    */
/*
    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: visible;
  }
  */

      }
    }



  body.version2 {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 22%;
      font-size: 5em;
      line-height: 1.4;
      color: white;
      margin: 0;
  }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */

img {
    max-width: 100%;
    vertical-align: middle;
    //padding:1px;
//border:3px solid black;
    //background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

@include media-query($on-palm){
img {
    max-width: 100%;
    vertical-align: middle;
    //padding:1px;
//border:3px solid black;
    //background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
}

.projects-list img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;


&:hover {

-webkit-filter: brightness(100%);
transition-duration: 1.3s;
//-webkit-filter: blur(3px);

}
}

.projects-item-background {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects-item {
    font-weight: 700;
    padding: 0;
    margin: 0;
    background-color: none;
    position: relative;
    overflow: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 {
  font-weight: 400;
}


/**
 * Links
 */


 .hyper a{

    //font-family: Permanent Marker, sans-serif;
    text-shadow: none;
    text-decoration: none;
    border-bottom: 3px solid #131313;
    //color: #4539e4;
    color: #131313;

   &:hover {

     //font-family: Permanent Marker, sans-serif;
     transition-duration: 0.5s;
     border-bottom: 3px solid #4539e4;
     //text-decoration: none;
     text-shadow: none;
     color: #4539e4;

   }
   }

   @include media-query($on-palm) {
   .hyper a{

       text-shadow: none;
     //text-decoration: underline;
     border-bottom: 3px solid #131313;
     //color:#4539e4;
     color: #131313;

     &:hover {

         border-bottom: none;
       text-decoration: none;
       text-shadow: none;

     }
     }
 }

 .with-full-bg-3 .home-project-about-random {

   font-family: 'Work Sans', sans-serif;
   font-size: 50px;
   //color: #f8f8ff;
   color: #131313;
   text-align: left;
   text-transform: none;
   text-shadow: none;
   text-decoration: none;
   font-weight: 400;
   padding-top: 70px;
   padding-bottom: 100px;
   padding-right: 110px;
   padding-left: 110px;
   text-transform: none;

 }

  @include media-query($on-palm) {

    .with-full-bg-3 .home-project-about-random {

      font-family: 'Work Sans', sans-serif;
      font-size: 26px;
      //color: #f8f8ff;
      color: #131313;
      text-align: left;
      text-transform: none;
      text-shadow: none;
      text-decoration: none;
      font-weight: 400;
      line-height: 1.6;
      padding-top: 2px;
      padding-top: 50px;
      padding-bottom: 80px;
      padding-right: 20px;
      padding-left: 20px;
      text-transform: none;

    }
  }

 .hyper-random {

    background-color: #131313;
    text-shadow: none;
    text-decoration: none;
    //border-bottom: 3px solid #131313;
    //color: #4539e4;
    color: #131313;

   &:hover {

     background-color: #efefef;
     //background-color: #131313;
     transition-duration: 0.5s;
     //border-bottom: 55px solid #131313;
     //text-decoration: none;
     text-shadow: none;
     //color: #4539e4;

   }
   }


   @include media-query($on-palm) {
   .hyper-random {

     color:#131313;
     background-color: #efefef;
       //text-shadow: none;
     //text-decoration: underline;
     //border-bottom: 3px solid #131313;
     //color:#4539e4;


     &:hover {

         border-bottom: none;
       text-decoration: none;
       text-shadow: none;

     }
     }
   }


   .hyper-random2 a{

      background-color: #4539e4;
      text-shadow: none;
      text-decoration: none;
      //border-bottom: 3px solid #131313;
      //color: #4539e4;
      color: #4539e4;

     &:hover {

       transition-duration: 0.5s;
       background-color: #efefef;
       //border-bottom: 55px solid #4539e4;
       //text-decoration: none;
       //text-shadow: none;
       color: #4539e4;

     }
     }

     @include media-query($on-palm) {
     .hyper-random2 a{


         //text-shadow: none;
        background-color: #efefef;
       //text-decoration: underline;
       border-bottom: 3px solid #131313;
       //color:#4539e4;
       color: #131313;

       &:hover {

         color: #4539e4;
         border-bottom: none;
         text-decoration: none;
         //text-shadow: none;

       }
       }
     }


a {

  //color: #2fffa7;
  color: #4539e4;
  text-decoration: none;
  //border-bottom-style: solid;
  //border-bottom-width: 2px;
  //border-bottom-color: black;
  background-color: none;
  //padding-bottom: 0px;

    //text-transform: uppercase;
    //text-decoration: underline;



    &:visited {
        //color: darken($brand-color, 25%);
//color: #2fffa7, darken (25%);
color: #4539e4, darken (25%);
    }

    &:hover {

        color: #4539e4, darken (25%);
        text-decoration: none;
        //background: black;
        //text-decoration: line-through;

    }
}

@include media-query($on-palm) {
a {

  //color: #2fffa7;
  color: #4539e4;
  text-decoration: none;
  //border-bottom-style: solid;
  //border-bottom-width: 2px;
  //border-bottom-color: black;
  background-color: none;
  //padding-bottom: 0px;

    //text-transform: uppercase;
    //text-decoration: underline;



    &:visited {
        //color: darken($brand-color, 25%);
//color: #2fffa7, darken (25%);
color: #4539e4, darken (25%);
    }

    &:hover {

      //color: #cdd0ff;
      color: #4539e4, darken (25%);
      text-decoration: none;
        //background: black;
        //text-decoration: line-through;

    }
}

}

.immagine {

  height: 100%;
  weight: 100%;
}

.with-full-bg a {
    //color: #14141C;
    color: white;
    //letter-spacing: 15px;
     //text-transform: uppercase;
    //text-decoration: underline;
    //border-bottom: solid white;

    -webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1.3s;

    background-color: transparent;
    border-bottom-width: 1px;

    &:hover {

          -webkit-filter: blur(0px);

      //  color: darken(white, 25%);
        border-bottom: none;

    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;

    }
}
@include media-query($on-palm) {
.with-full-bg a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
border-bottom: solid;
border-bottom-width: 1px;
//letter-spacing: 15px;
//text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

-webkit-filter: blur(0px);
transition-duration: 1.3s;

//background-color: transparent;
border-bottom-width: 1px;

&:hover {

    //-webkit-filter: blur(5px);

//  color: darken(white, 25%);
  border-bottom: none;

//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

::selection {
    background-color: #af9928;
    //color: #ECF0F1;
    color: #c1c1c1;
}

.with-full-bg ::selection {

  background-color: transparent;
  //color: #af9928;
  color: #c1c1c1;
}


.with-full-bg-2 a {

    color: white;
    //letter-spacing: 15px;
    //text-decoration: underline;
    //border-bottom: solid white;

    //-webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1s;

    background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        //  -webkit-filter: blur(0px);
        text-shadow: none;
      color: white;
      //font-size: 55px;
        border-bottom: none;
    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;
    }
}

@include media-query($on-palm) {
.with-full-bg-2 a {

    color: white;
  transition-duration: 1s;
    //background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        text-shadow: none;
      color: white;
        border-bottom: none;

      text-decoration: none;
    }
}
}



@include media-query($on-palm) {
.with-full-bg-2 a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
//border-bottom: solid;
//border-bottom-width: 1px;
//letter-spacing: 15px;
text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

//-webkit-filter: blur(0px);
transition-duration: 1s;

//background-color: transparent;
//border-bottom-width: 1px;
//text-shadow: 2px 0px black;

&:hover {

    //-webkit-filter: blur(5px);
    text-shadow: none;
  color: white;
  border-bottom: none;
//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

::selection {
    background-color: #4539e4;
    //color: #ECF0F1;
    color: #c1c1c1;
}

.with-full-bg-2 ::selection {

  background-color: transparent;
  //color: #4539e4;
  color: #c1c1c1;
}


/**
 * Blockquotes
 */
.blockquote {
    color: $grey-color;
    border-left: 4px solid #DADADA;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: normal;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: 0px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(600px - (#{$spacing-unit}));
        max-width:         calc(600px - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 20px;
padding-left: 20px;
    }
}

.with-full-bg-2 .wrapper {

    @include media-query($on-laptop) {
        max-width: -webkit-calc(600px - (#{$spacing-unit}));
        max-width:         calc(600px - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 30px;
padding-left: 15px;
margin-top: 30px;
    }
}



.with-full-bg .wrapper {
  margin-top: 60px;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

button {
  cursor: default;
  position: absolute;
    top: 50%;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #4539e4;
        }
    }
}
