
@charset "utf-8";

// Our variables
//$base-font-family: 'Open Sans', sans-serif;
//$base-font-family: 'Titillium Web', sans-serif;
//$base-font-family: 'Montserrat', sans-serif;
$base-font-family: 'Lekton', sans-serif;
$base-font-family: 'Volkhov', sans-serif;
$base-font-family: 'Poppins', sans-serif;

//$base-font-family1: 'Lato', sans-serif;
//$base-font-family: 'Exo', sans-serif;
//$base-font-family: 'Merriweather', sans-serif;
$base-font-size:   21px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-line-height: 3.5;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

$blog-title-size: 42px;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #EFEFEF;
$brand-color:      rgb(0, 0, 0);


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        900px;

// Using media queries with like this:
 //@include media-query($palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//   padding-left: $spacing-unit / 2;
//   }
 //}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: Lekton, sans-serif;;
    font-size: 18px;
    /*font-size: 100px; */
    line-height: 1.5;
    font-weight: 400;
    //color: $text-color;
    color: black;
 background-color: #ECECEC;
overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@include media-query($on-palm) {
body {
    font-family: $base-font-family;
    font-size: 18px;
    /*font-size: 100px; */
    line-height: 1.5;
    font-weight: 400;
    //color: $text-color;
    //color: black;
    color: black;
 //background-color: #ECECEC;
background-color: #ECECEC;
}
}

.presentation {

background-color: #4539e4;
font-size: 23px;
color: white;
font-family: 'Lekton', sans-serif;
font-weight: 700;
text-transform: lowercase;
border-top: 100px;


}

.generic_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    height: 100%;

  }

.highlight {

  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;

}

p.small {
    line-height: 1.2;
}

p.big {
    line-height: 3.7;
}

hr {
    border: 0;
    color: white;
    //background-color: black;
    //height: 1px;
    //border-bottom: 2px dashed;
    border-bottom: 1px inset;
    margin-bottom: 20px;
    margin-top: 0px;

}

@include media-query($on-palm) {
hr {
    border: 0;
    color: #828282;
    //background-color: black;
    //height: 1px;
    border-bottom: 1px inset;
    margin-bottom: 20px;
    margin-top: 0px;
}
}

/*
@include media-query($on-palm) {
.with-full-bg-3 .site-header{

    width: 100%;
    color:white;
    background-color: red;
    position: fixed;
}
}

*/


/*

.with-full-bg-3 .site-title a{

color: white;

&:hover {

    color: black;
    transition-duration: 1.3s;
}

}

*/

@include media-query($on-palm) {
.with-full-bg-3 .home-project-title-mobile{
margin-top: 70px;
margin-left:50px;
}
}

.with-full-bg-3 .site-title {

    font-family: 'Lekton', sans-serif;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 300;
    line-height: 77px;
    letter-spacing: none;

    margin-top: none;
    margin-bottom: none;
    margin-left: 27px;
    float: left;
    text-transform: none;
    display: block;

    border-bottom-style: none;

    transition-duration: 1.3s;


        &:hover {

            color: #ff7574;

            //-webkit-filter: blur(2px);
        }
    &:active {
      color: #cc5c5c;

    }

    }

@include media-query($on-palm) {
    .with-full-bg-3 .site-title {

        font-family: 'Lekton', sans-serif;
        color: #e6e6e6;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: none;

        margin-top: 30px;
        margin-bottom: none;
        margin-left: 10px;
        float: left;
        text-transform: none;
        display: block;

        border-bottom-style: none;

        transition-duration: 1.3s;


            &:hover {

                color: #ff7574;
                background-color: transparent;
                //-webkit-filter: blur(2px);
            }
        &:active {
          color: #cc5c5c;

        }

        }
}



body.with-full-bg-3 {

  color: white;
  font-size: 70px;
  margin-top: 0px;
  line-height: 80px;

  background-repeat: no-repeat;
  line-height:1.4;
  //background-color: #4539e4;
  background-color: #1A1A34;

  text-transform: uppercase;
  text-align: center;
  //background-color: white;

  margin-top: 0px;
  background-size: cover;


  video{
 position:fixed;
 left:0;
        top:0;
 min-width:100%;
 min-height:100%;
 width:auto;
 height:auto;
 z-index:-100;
 visibility: visible;
}
}



/*

.with-full-bg-3 .page-content {

padding: 00px 0px 20px 0px;

}

.with-full-bg-3 .page-content a {

  text-shadow: none;
text-decoration: none;
//border-bottom: 1px;
color:white;

&:hover {

  color: white;
    border-bottom: none;
  text-decoration: none;
  text-shadow: 2px 2px #20188a;

}
}


@include media-query($on-palm) {
.with-full-bg-3 .page-content a {

    text-shadow: none;
  text-decoration: none;
  border-bottom: 1px;
  color:white;

  &:hover {


      border-bottom: none;
    text-decoration: none;

    color:white;
    text-shadow: 2px 2px #20188a;

  }
  }
}

*/

.with-full-bg-3 .bg1 {

    background-color: #b3d020;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

  }

  @include media-query($on-palm) {

    .with-full-bg-3 .bg1 {
        background-color: #b3d020;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;

      }
  }

  .with-full-bg-3 .bg2 {

      background-color: #af9928;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @include media-query($on-palm) {

      .with-full-bg-3 .bg2 {
          background-color: #af9928;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 0px;

        }
    }


.with-full-bg-3 .info {
font-family: Lekton, sans-serif;
font-size: 16px;
color:white;
text-align: center;
text-transform: none;
line-height: 20px;
//background-color: #ff7574;
margin-top: 20px
}

.with-full-bg-3 .info a{
font-family: Lekton, sans-serif;
font-size: 16px;
color:white;
text-align: center;
text-transform: none;
//line-height: 20px;
//background-color: #ff7574;
margin-top: 20px

}

@include media-query($on-palm) {
  .with-full-bg-3 .info {
  font-family: Lekton, sans-serif;
  font-size: 16px;
  color:white;
  text-align: center;
  text-transform: none;
  line-height: 10px;
  //background-color: #ff7574;
  margin-top: 20px

  }
}

@include media-query($on-palm) {
  .with-full-bg-3 .info a{
  font-family: Lekton, sans-serif;
  font-size: 16px;
  color:white;
  text-align: center;
  text-transform: none;
  line-height: 30px;
  //background-color: #ff7574;
  margin-top: 20px

  }
}

.with-full-bg-3 .home-project-title a{

  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  letter-spacing: 2px;
  color: #e6e6e6;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 700;

  padding-bottom: 10px;
  padding-top: 100px;
  text-transform: uppercase;
  transition-duration: 1.3s;

  &:hover {

      color: #ff7574;

      //-webkit-filter: blur(2px);
  }
&:active {
color: #cc5c5c;

}


}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title a{

    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: #e6e6e6;
    text-align: center;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 10px;
    padding-top: 70px;
    text-transform: uppercase;
    transition-duration: 1.3s;

    &:hover {

        color: #ff7574;

        //-webkit-filter: blur(2px);
    }
  &:active {
  color: #cc5c5c;

  }

  }
}

.with-full-bg-3 .home-project-title {

  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  letter-spacing: 2px;
  color: #e6e6e6;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 700;

  padding-bottom: 10px;
  padding-top: 70px;
  text-transform: uppercase;

}

@include media-query($on-palm) {

  .with-full-bg-3 .home-project-title {

    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: #e6e6e6;
    text-align: center;
    text-transform: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    background-color: none;
    padding-bottom: 10px;
    padding-top: 50px;
    text-transform: uppercase;

  }
}




.with-full-bg-3 .site-nav {


font-family: 'Lekton', sans-serif;
    color:#e6e6e6;
    display: inline;
    font-size: 16px;
    float: right;
    position: 0px;
    line-height: 70px;
    font-weight: 300;
    text-transform: none;
    color:white;

    &:hover {

        color: black;
    }

  }


.with-full-bg-3 .home-project-sub-title {

  font-family: 'Lekton', sans-serif;
  font-size: 23px;
  color: white;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;

  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 120px;
  padding-left: 120px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-sub-title {

  font-family: 'Lekton', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}

.with-full-bg-3 .home-project-credits {

  font-family: 'Lekton', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;
  //background-color: lime;
  padding-top: 10px;
  padding-bottom: 10px;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-credits {

  font-family: 'Lekton', sans-serif;
  font-size: 13px;
  color: white;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;

}
}


.with-full-bg-3 .home-project-about {

  font-family: 'Lekton', sans-serif;
  font-size: 23px;
  color: white;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;

  padding-top: 0px;
  padding-bottom: 50px;
  padding-right: 120px;
  padding-left: 120px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .home-project-about {

  font-family: 'Lekton', sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}

.with-full-bg-3 .project-text {

  font-family: 'Lekton', sans-serif;
  font-size: 32px;
  color: white;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;

  padding-top: 0px;
  padding-bottom: 50px;
  padding-right: 120px;
  padding-left: 120px;
  text-transform: none;

}

@include media-query($on-palm) {
.with-full-bg-3 .project-text {

  font-family: 'Lekton', sans-serif;
  font-size: 26px;
  color: white;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 2px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: none;

}
}



.with-full-bg-3 .home-links {

font-family: 'Lekton', sans-serif;
font-size: 21px;
color: #e6e6e6;
text-transform: none;
text-shadow: none;
text-decoration: none;

padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}

@include media-query($on-palm) {
.with-full-bg-3 .home-links {
font-size: 20px;
color: #e6e6e6;
text-transform: none;
text-shadow: none;
text-decoration: none;
padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}
}

/*

.with-full-bg-3 .home-links a {

text-shadow: none;
color: white;
text-decoration: underline;
text-transform: none;

&:hover {

border-bottom: none;
color: black;
text-decoration: none;
text-shadow: none;
text-transform: none;

}
}

@include media-query($on-palm) {

.with-full-bg-3 .home-links a {

  text-shadow: none;
color: white;
text-decoration: none;
text-transform: none;

&:hover {

    border-bottom: none;
  text-decoration: underline;
  text-shadow: none;
  text-transform: none;
  color:white;
}
}
}

*/

@include media-query($on-palm) {
  body.with-full-bg-3 {

  font-size: 45px;
  line-height: 50px;
  margin-top: 0%;
  text-align: center;
  color: white;


}
}

/*

.with-full-bg-3 a {

    color: white;
    //letter-spacing: 15px;
    //text-decoration: underline;
    //border-bottom: solid white;

    //-webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1s;

    background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        //  -webkit-filter: blur(0px);
        text-shadow: none;
      color: white;
      //font-size: 55px;
        border-bottom: none;
    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;
    }
}


@include media-query($on-palm) {
.with-full-bg-3 a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
//border-bottom: solid;
//border-bottom-width: 1px;
//letter-spacing: 15px;
text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

//-webkit-filter: blur(0px);
transition-duration: 1s;

//background-color: transparent;
//border-bottom-width: 1px;
//text-shadow: 2px 0px black;

&:hover {

    //-webkit-filter: blur(5px);
    text-shadow: none;
  color: white;
  border-bottom: none;
//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

*/

::selection {
    background-color: #4539e4;
    color: #af9928;
}

.with-full-bg-3 ::selection {

  background-color: transparent;
  //color: #4539e4;
  color: #af9928;
}

.with-full-bg-3 .wrapper {
    //max-width: -webkit-calc(100% - (#{$spacing-unit} * 2));
    //max-width:         calc(100% - (#{$spacing-unit} * 2));
    max-width: -webkit-calc(100% - (0px * 2));
    max-width: calc(100% - (0px * 2));

    //margin-right: auto;
    //margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(100% - (#{$spacing-unit}));
        max-width:         calc(100% - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 0px;
        padding-left: 0px;
    }

    @include media-query($on-palm) {
        max-width: -webkit-calc(100% - (#{$spacing-unit}));
        max-width:         calc(100% - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 0px;
        padding-left: 0px;
        padding-left: 0px;
    }
}


.with-full-bg-3 img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 50px;
  margin-bottom: 0px;


&:hover {

-webkit-filter: brightness(100%);
transition-duration: 1.3s;
//-webkit-filter: blur(3px);

}
}

@include media-query($on-palm) {
.with-full-bg-3 img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 30px;
  margin-bottom: 0px;
}
}



.with-full-bg-3 .project img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 50px;
  margin-bottom: 0px;


&:hover {

-webkit-filter: brightness(100%);
transition-duration: 1.3s;
//-webkit-filter: blur(3px);

}
}

@include media-query($on-palm) {
.with-full-bg-3-project img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;
  margin-top: 100px;
  margin-bottom: 100px;
}
}









body.with-full-bg-2 {

  //background-image: url('http://www.isoncampaign.org/files/images/blogpics/enckeRipoff_movie_short.gif');
  //background-image: url('/images/stellone.gif');
  //background-image: url('/images/madonna.png');
  //background-image: url('/images/goya.png');
  //color: #14141C;

  color: #4539e4;
  font-size: 70px;
  margin-top: 80px;
  //background-size: cover;
    //text-shadow: 2px 2px 80px black;
   //text-shadow: 0px 0px 8px #000;
/*
  background-size: cover;

  background: -webkit-gradient(radial, 50% 50%, 750, 50% 50%, 300, from(rgb(160, 167, 163)), color-stop(0.5, rgb(190, 172, 181)), to(rgb(182, 195, 207)));
  background: -moz-linear-gradient(radial, 50% 50%, 750, 50% 50%, 300, from(rgb(160, 167, 163)), color-stop(0.5, rgb(190, 172, 181)), to(rgb(182, 195, 207)));
  background: -ms-linear-gradient(radial, 50% 50%, 750, 50% 50%, 300, from(rgb(160, 167, 163)), color-stop(0.5, rgb(190, 172, 181)), to(rgb(182, 195, 207)));
  background: -o-linear-gradient(radial, 50% 50%, 750, 50% 50%, 300, from(rgb(160, 167, 163)), color-stop(0.5, rgb(190, 172, 181)), to(rgb(182, 195, 207)));
  background: linear-gradient(radial, 50% 50%, 750, 50% 50%, 300, from(rgb(160, 167, 163)), color-stop(0.5, rgb(190, 172, 181)), to(rgb(182, 195, 207)));

  background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;

*/
  background-repeat: no-repeat;
  line-height:1.4;

}


@include media-query($on-palm) {
  body.with-full-bg {

  font-size: 33px;
  line-height: 44px;
  margin-top: 0px;

    }
  }

  body.with-full-bg-2 {

    //color: #14141C;
    text-transform: uppercase;
    text-align: left;
    //background-color: white;
    color: white;
    font-size: 70px;
    line-height: 80px;
    margin-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4539e4;
    //line-height:1;

    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: visible;
  }

}


.with-full-bg-2 .page-content a {

    text-shadow: none;
  text-decoration: underline;
  border-bottom: 1px;
  color:white;

  &:hover {

    color: white;
      border-bottom: none;
    text-decoration: none;
    text-shadow: none;
  }
  }

  @include media-query($on-palm) {
  .with-full-bg-2 .page-content a {

      text-shadow: none;
    text-decoration: underline;
    border-bottom: 1px;
    color:white;

    &:hover {

        border-bottom: none;
      text-decoration: none;
      text-shadow: none;
      color:white;

    }
    }
}

.with-full-bg-2 .home-links {

font-size: 21px;
color: white;
text-transform: none;
text-shadow: none;
text-decoration: none;
padding-bottom: 20px;
padding-top: 20px;
text-transform: none;
}

@include media-query($on-palm) {
.with-full-bg-2 .home-links {
  font-size: 20px;
  color: white;
  text-transform: none;
  text-shadow: none;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: none;
}
}

.with-full-bg-2 .home-links a {

  text-shadow: none;
color: white;
text-decoration: none;
text-transform: none;

&:hover {

    border-bottom: none;
  text-decoration: underline;
  text-shadow: none;
  text-transform: none;

}
}

@include media-query($on-palm) {

  .with-full-bg-2 .home-links a {

    text-shadow: none;
  color: white;
  text-decoration: none;
  text-transform: none;

  &:hover {

      border-bottom: none;
    text-decoration: underline;
    text-shadow: none;
    text-transform: none;
    color:white;
  }
  }
}





/*
  body. {

    background-image: url('http://www.isoncampaign.org/files/images/blogpics/enckeRipoff_movie_short.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
*/

/*
    body.with-full-bg-2 {
  -webkit-animation: background 50s cubic-bezier(0,0,1,1) infinite;
animation: background 50s cubic-bezier(0,0,1,1) infinite;
}

@-webkit-keyframes background {
0% { background-color: #333745; }
33% { background-color: #DB9E36; }
67% { background-color: #EA2E49; }
100% { background-color: #2E0927; }
}

@keyframes background {
0% { background-color: #333745; }
33% { background-color: #DB9E36; }
67% { background-color: #EA2E49; }
100% { background-color: #2E0927; }
}
*/

/*
@include media-query($on-palm) {
  body.with-full-bg-2 {



    background-image:none;
    -webkit-animation: background 50s cubic-bezier(0,0,1,1) infinite;
  animation: background 50s cubic-bezier(0,0,1,1) infinite;
  }
  }

  @-webkit-keyframes background {
  0% { background-color: #333745; }
  33% { background-color: #DB9E36; }
  67% { background-color: #EA2E49; }
  100% { background-color: #2E0927; }
  }

  @keyframes background {
  0% { background-color: #333745; }
  33% { background-color: #DB9E36; }
  67% { background-color: #EA2E49; }
  100% { background-color: #2E0927; }

  background-image: url('http://www.isoncampaign.org/files/images/blogpics/enckeRipoff_movie_short.gif');
  background-size: cover;
  background-repeat: repeat;
  }
}
*/


  @include media-query($on-palm) {
    body.with-full-bg-2 {

    font-size: 45px;
    line-height: 50px;
    margin-top: 0%;
    text-align: left;
    color: white;

    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: hidden;
  }

/*
    background-image: url('http://www.isoncampaign.org/files/images/blogpics/enckeRipoff_movie_short.gif');
    background-size: cover;
    background-repeat: repeat;
    */
/*
    video{
   position:fixed;
   left:0;
          top:0;
   min-width:100%;
   min-height:100%;
   width:auto;
   height:auto;
   z-index:-100;
   visibility: visible;
  }
  */

      }
    }



  body.version2 {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 22%;
      font-size: 5em;
      line-height: 1.4;
      color: white;
      margin: 0;
  }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */

img {
    max-width: 100%;
    vertical-align: middle;
    //padding:1px;
//border:3px solid black;
    //background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

@include media-query($on-palm){
img {
    max-width: 100%;
    vertical-align: middle;
    //padding:1px;
//border:3px solid black;
    //background-color: white;
    margin-top: 0px;
    margin-bottom: 20px;
}
}

.projects-list img {
  -webkit-filter: brightness(100%);
  transition-duration: 1.3s;


&:hover {

-webkit-filter: brightness(100%);
transition-duration: 1.3s;
//-webkit-filter: blur(3px);

}
}

.projects-item-background {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects-item {
    font-weight: 700;
    padding: 0;
    margin: 0;
    background-color: none;
    position: relative;
    overflow: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 {
  font-weight: 400;
}



/**
 * Links
 */
a {

    color: #ff7574;

    text-decoration: none;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: white;
  background-color: none;

    //text-transform: uppercase;
    //text-decoration: underline;



    &:visited {
        //color: darken($brand-color, 25%);
color: #ff7574, darken (25%);
    }

    &:hover {

        color: #ECF0F1;
        background-color: none;
        border-bottom-style: none;
        border-bottom-color: none;
        //background: black;
        //text-decoration: line-through;

    }
}

@include media-query($on-palm) {
a {

    color: #ff7574;

    text-decoration: none;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: white;
  background-color: none;

    //text-transform: uppercase;
    //text-decoration: underline;



    &:visited {
        //color: darken($brand-color, 25%);
color: #ff7574, darken (25%);
    }

    &:hover {

        color: #ffffff;
        background-color: none;
        border-bottom-style: none;
        border-bottom-color: none;
        //background: black;
        //text-decoration: line-through;

    }
}

}

.immagine {

  height: 100%;
  weight: 100%;
}

.with-full-bg a {
    //color: #14141C;
    color: white;
    //letter-spacing: 15px;
     //text-transform: uppercase;
    //text-decoration: underline;
    //border-bottom: solid white;

    -webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1.3s;

    background-color: transparent;
    border-bottom-width: 1px;

    &:hover {

          -webkit-filter: blur(0px);

      //  color: darken(white, 25%);
        border-bottom: none;

    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;

    }
}
@include media-query($on-palm) {
.with-full-bg a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
border-bottom: solid;
border-bottom-width: 1px;
//letter-spacing: 15px;
//text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

-webkit-filter: blur(0px);
transition-duration: 1.3s;

//background-color: transparent;
border-bottom-width: 1px;

&:hover {

    //-webkit-filter: blur(5px);

//  color: darken(white, 25%);
  border-bottom: none;

//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

::selection {
    background-color: #af9928;
    color: #ECF0F1;
}

.with-full-bg ::selection {

  background-color: transparent;
  color: #af9928;
}


.with-full-bg-2 a {

    color: white;
    //letter-spacing: 15px;
    //text-decoration: underline;
    //border-bottom: solid white;

    //-webkit-filter: blur(4px);
//      -webkit-transition: blur 3s linear 3s;
//    -moz-transition: blur 3s linear 3s;
//  -ms-transition: blur 3s linear 3s;
//  -o-transition: blur 3s linear 3s;
//  transition: blur 3s linear 3s;
transition-duration: 1s;

    background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        //  -webkit-filter: blur(0px);
        text-shadow: none;
      color: white;
      //font-size: 55px;
        border-bottom: none;
    //    letter-spacing: 15px;
    //     text-transform: uppercase;;
      text-decoration: none;
    }
}

@include media-query($on-palm) {
.with-full-bg-2 a {

    color: white;
  transition-duration: 1s;
    //background-color: transparent;
    border-bottom-width: 1px;
    //text-shadow: 2px 0px black;

    &:hover {

        text-shadow: none;
      color: white;
        border-bottom: none;

      text-decoration: none;
    }
}
}



@include media-query($on-palm) {
.with-full-bg-2 a {
//color: #14141C;
color: white;
//border-bottom: solid #14141C;
//border-bottom: solid;
//border-bottom-width: 1px;
//letter-spacing: 15px;
text-transform: uppercase;
//text-decoration: underline;
//border-bottom: solid white;

//-webkit-filter: blur(0px);
transition-duration: 1s;

//background-color: transparent;
//border-bottom-width: 1px;
//text-shadow: 2px 0px black;

&:hover {

    //-webkit-filter: blur(5px);
    text-shadow: none;
  color: white;
  border-bottom: none;
//    letter-spacing: 15px;
//     text-transform: uppercase;;
text-decoration: none;

}
}
}

::selection {
    background-color: #4539e4;
    color: #ECF0F1;
}

.with-full-bg-2 ::selection {

  background-color: transparent;
  color: #4539e4;
}


/**
 * Blockquotes
 */
.blockquote {
    color: $grey-color;
    border-left: 4px solid #DADADA;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: normal;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: 0px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(600px - (#{$spacing-unit}));
        max-width:         calc(600px - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 20px;
padding-left: 20px;
    }
}

.with-full-bg-2 .wrapper {

    @include media-query($on-laptop) {
        max-width: -webkit-calc(600px - (#{$spacing-unit}));
        max-width:         calc(600px - (#{$spacing-unit}));
        //padding-right: $spacing-unit / 2;
        //padding-left: $spacing-unit / 2;
        padding-right: 30px;
padding-left: 15px;
margin-top: 30px;
    }
}



.with-full-bg .wrapper {
  margin-top: 60px;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

button {
  cursor: default;
  position: absolute;
    top: 50%;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #4539e4;
        }
    }
}
