/**
 * Site header
 */
.site-header {

    z-index: 1;
    min-height: 1px;
    width: 100%;

      background-color: transparent;
      //background-color: #efefef;

    // Positioning context for the mobile navigation icon
    position: fixed;
    //border-bottom: 0.1em solid rgba(0, 0, 0, 0.13);
}



.entry-meta {
    margin-top: 15px;
    margin-top: 1.5rem;
}

 .entry-type {
    float: left;
}




.svg-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.svg-icon svg {
    height: 1em;
    width: 1em;
}

.svg-icon.svg-baseline svg {
    bottom: -0.125em;
    position: absolute;
}





.site-logo {
  width: 60px;
  height: 60px;
  //display: block;
  padding: 18px 0;
  display: none;
}

.site-title {

    font-family: 'Lekton', sans-serif;
    color: #131313;
    font-size: 18px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: none;
    //background-color: #ff7574;
    margin-top: none;
    margin-bottom: none;
    margin-left: 20px;
    float: left;
    text-transform: none;
    display: block;

    border-bottom-style: none;

    transition-duration: 0.8s;

        &,
        &:visited {
          //color: #f8f8ff;
          color: #131313;
        }

        &:hover {

            //color: #cdd0ff;
            color: #4539e4;
            background-color: transparent;
            //-webkit-filter: blur(2px);
        }

    }



/*
.site-title {

    color:black;
    font-size: 35px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: none;

    margin-top: none;
    margin-bottom: none;
    float: left;
    text-transform: none;
    display: block;

    border-bottom-style: none;

    transition-duration: 1.3s;

    &,
    &:visited {
      color: black;
    }

    &:hover {

        color: #4539e4;
        background-color: transparent;
        //-webkit-filter: blur(2px);
    }
&:active {
  color: black;
  -webkit-filter: blur(4px);
}

}

*/

  @include media-query($on-palm) {
.site-title {

    //color: #f8f8ff;
    color: #131313;
    font-size: 35px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: none;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 0px;
    float: left;
    text-transform: none;
    display: block;

    border-bottom-style: none;

    &,
    &:visited {
      //color: #f8f8ff;
      color: #131313;
    }

    &:hover {

        //color: #cdd0ff;
        color: #4539e4;
        background-color: transparent;

    }
}
}


.site-nav {

    font-family: 'Lekton', sans-serif;
    display: inline;
    font-size: 16px;
    float: right;
    position: 0px;
    line-height: 70px;
    font-weight: 700;
    margin-right: 25px;
    color: #171717;


    &:visited {
      color: #171717;
    }

    &:hover {

        color: #a9a9a9;
        background-color: transparent;
    }

    .menu-icon {
        display: none;
    }

    .page-link {

        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        text-transform: none;
        color: #131313;
        background-color: transparent;
        font-size: 16px;
        padding: 0px 5px;



        // Gaps between nav items, but not on the first one
      &:not(:first-child) {
            margin-left: none;
        }


        &:hover {

            //color: #cdd0ff;
            color: #4539e4;
            background-color: transparent;
            //border-bottom: 0.2em solid #ff7574;
            transition-duration: 0.5s;
        }

        &.current {

          //color: #2fffa7;
          color: #4539e4;
          background-color: transparent;
          border-bottom: none;
        }

    }

/*

.site-nav {


    display: inline;
    font-size: 55px;
    float: right;
    position: 0px;
    line-height: 70px;
    font-weight: 400;


    &:visited {
      color: black;
    }

    &:hover {

        color: #4539e4;
        background-color: transparent;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: black;
        background-color: transparent;
        font-size: 18px;
        padding: 0px 5px;


        // Gaps between nav items, but not on the first one
      &:not(:first-child) {
            margin-left: none;
        }


        &:hover {

            color: #4539e4;
            background-color: transparent;
            border-bottom: 0.1em solid #4539e4;
        }

        &.current {

          color: #4539e4;
          background-color: transparent;
          border-bottom: none;
        }

    }

    */

  @include media-query($on-palm) {

    .page-link {
        color: #131313;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        background-color: transparent;
        font-size: 16px;
        padding: 0px 10px;


        // Gaps between nav items, but not on the first one
      &:not(:first-child) {
            margin-left: none;
        }


        &:hover {

            //color: #2fffa7;
            color: #4539e4;
            background-color: transparent;
            //border-bottom: 0.1em solid #4539e4;
            transition-duration: 0.5s;
        }

        &.current {

          //color: #2fffa7;
          color: #4539e4;
          background-color: transparent;
          border-bottom: none;
        }

    }

  }

    @include media-query($on-palm) {
        position: inline;
        //background-color: $background-color;
        //border: 0px solid $grey-color-light;
        //border-radius: 5px;
        text-align: right;
        margin-top: 10px;
        margin-right: 4px;

        .menu-icon {

            display: none;
            float: right;
            width: 36px;
            height: 60px;
            line-height: 60px;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #000BFF;
                }
            }
        }

        .trigger {
            //clear: both;
            display: inline-block;

        }

        &:hover .trigger {
            display: block;
//            padding-bottom: 5px;


        }

        .page-link {

            display: inline;
            padding: 5px 4px;
            font-size: 16px;
        }
    }
}


.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 0px;
  font-family: Work Sans, sans-serif;
  color: #2FFFA7;
  background: transparent;
  border: solid #2FFFA7 1px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-transform: none;
  letter-spacing: none;
  text-decoration: none;
  -webkit-transition: background .1s linear .1s;
    -moz-transition: background .1s linear .1s;
    -ms-transition: background .1s linear .1s;
    -o-transition: background .1s linear .1s;
    transition: background .1s linear .1s;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    margin-bottom: 20px;
}
.button:visited {
  color: #2FFFA7;
  background: transparent;
  text-decoration: none;
  border: solid #2FFFA7 1px;
}
.button:hover {
  color: #171717;
  background: #2FFFA7;
  text-decoration: none;
  border: solid #2FFFA7 1px;
}

.with-full-bg .button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 0px;
  font-family: Work Sans, sans-serif;
  color: black;
  background: transparent;
  border: solid black 3px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-transform: none;
  letter-spacing: none;
  text-decoration: none;
  -webkit-transition: background .1s linear .1s;
    -moz-transition: background .1s linear .1s;
    -ms-transition: background .1s linear .1s;
    -o-transition: background .1s linear .1s;
    transition: background .1s linear .1s;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    margin-bottom: 20px;

}

@include media-query($on-palm) {
.button {
-webkit-border-radius: 10;
-moz-border-radius: 10;
border-radius: 0px;
font-family: Work Sans, sans-serif;
color: #2FFFA7;
background: transparent;
border: solid #2FFFA7 1px;
font-size: 18px;
padding: 10px 20px 10px 20px;
text-transform: none;
letter-spacing: none;
text-decoration: none;
-webkit-transition: background .1s linear .1s;
  -moz-transition: background .1s linear .1s;
  -ms-transition: background .1s linear .1s;
  -o-transition: background .1s linear .1s;
  transition: background .1s linear .1s;
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  margin-bottom: 20px;
}
.button:visited {
color: #2FFFA7;
background: transparent;
text-decoration: none;
border: solid #2FFFA7 1px;
}
.button:hover {
color: #171717;
background: #2FFFA7;
text-decoration: none;
border: solid #2FFFA7 1px;
}

.with-full-bg .button {
-webkit-border-radius: 10;
-moz-border-radius: 10;
border-radius: 0px;
font-family: Work Sans, sans-serif;
color: black;
background: transparent;
border: solid black 3px;
font-size: 18px;
padding: 10px 20px 10px 20px;
text-transform: none;
letter-spacing: none;
text-decoration: none;
-webkit-transition: background .1s linear .1s;
  -moz-transition: background .1s linear .1s;
  -ms-transition: background .1s linear .1s;
  -o-transition: background .1s linear .1s;
  transition: background .1s linear .1s;
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  margin-bottom: 20px;

}
}

/*.button:active {
  color: #2C3E50;
  background: #ECF0F1;
  text-decoration: none;
  border: solid #2C3E50 3px;
}
*/
/**
 * Site footer
 */
 /**
.site-footer {
    padding: $spacing-unit 0;
    position: relative;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
*/
.site-footer {
    color: #ECECEC;
    padding: $spacing-unit 0;
    position: relative;
    background-color: transparent;
    bottom: 0;
    left: 10px;
    width: 100%;

}



/*
 .border-bottom {
   border-bottom: 0.5em solid #E74C3C;
 }
*/


.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {

    font-size: 14px;
    line-height: 1.4;
    color: #ECECEC;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

/*.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}
*/
.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col-5 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
}

.footer-col-6 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-4 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-5 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-6 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

}

@include media-query($on-palm) {

  .footer-col-wrapper {
  font-size: 14px;
  line-height: 1.4;
  }


    .footer-col {

        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
/**
 * footer with full bg



.with-full-bg .site-footer {
  background-color: transparent;
  color:white;
  background-color: transparent;
  border-bottom: none;
}

.with-full-bg .footer-heading {
      font-size: 16px;
      margin-bottom: $spacing-unit / 2;
  }

.with-full-bg .contact-list,
.with-full-bg .social-media-list {
color:white;

      list-style: none;
      margin-left: 0;
  }

.with-full-bg .footer-col-wrapper {

      font-size: 14px;
      line-height: 1.4;
      color: white;
      margin-left: -$spacing-unit / 2;
      @extend %clearfix;
  }

.with-full-bg .footer-col {
      float: left;
      margin-bottom: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
  }

.with-full-bg .footer-col-1 {
      width: -webkit-calc(75% - (#{$spacing-unit} / 2));
      width:         calc(75% - (#{$spacing-unit} / 2));
  }

.with-full-bg .footer-col-2 {
      width: -webkit-calc(12,5% - (#{$spacing-unit} / 2));
      width:         calc(12,5% - (#{$spacing-unit} / 2));
  }

.with-full-bg .footer-col-3 {
      width: -webkit-calc(12,5% - (#{$spacing-unit} / 2));
      width:         calc(12,5% - (#{$spacing-unit} / 2));
  }

  @include media-query($on-laptop) {
      .with-full-bg .footer-col-1,
      .with-full-bg .footer-col-2 {
          width: -webkit-calc(50% - (#{$spacing-unit} / 2));
          width:         calc(50% - (#{$spacing-unit} / 2));
      }
}
    .with-full-bg .footer-col-3 {
          width: -webkit-calc(100% - (#{$spacing-unit} / 2));
          width:         calc(100% - (#{$spacing-unit} / 2));
      }


  @include media-query($on-palm) {
      .footer-col {
          float: none;
          width: -webkit-calc(100% - (#{$spacing-unit} / 2));
          width:         calc(100% - (#{$spacing-unit} / 2));
      }
}

*/
/**
 * Page content
 */

 .site-footer {
     color: #ECECEC;
     padding: $spacing-unit 0;
     position: relative;
     background-color: transparent;
     bottom: 0;
     left: 10px;
     width: 100%;

 }



 /*
  .border-bottom {
    border-bottom: 0.5em solid #E74C3C;
  }
 */


.page-content {
    //padding: $spacing-unit 0 $spacing-unit * 5 0;
    //padding: 10px 0px 20px 0px;
    padding: 0px 0px 0px 0px;

}


    @include media-query($on-palm) {
      .page-content {
          //padding: $spacing-unit 0 $spacing-unit * 5 0;
          padding: 0px 0px 0px 0px;
      }

    }


.with-full-bg .page-content {
    //padding: $spacing-unit 0 $spacing-unit * 5 0;
    padding: 1px 0 100px 0;
}

.with-full-bg-2 .page-content {
    //padding: $spacing-unit 0 $spacing-unit * 5 0;
    padding: 0px 0 0px 0;
}

.page-heading {
    font-size: 21px;
}

.post-list,
.projects-list {
    margin-left: 0;
    list-style: none;

     li {
        margin-bottom: $spacing-unit;
        margin-top: 10px;
    }

}

@include media-query($on-palm) {

  .post-list,
  .projects-list {
      margin-left: 0;
      list-style: none;

       li {
          margin-bottom: $spacing-unit;
          margin-top: 20px;
      }

  }

}

.post-meta {
    font-size: 16px;
    color: $grey-color;
}

.post-link {
  display: block;
    color: black;
    font-size: 64px;
    line-height: 74px;


transition-duration: 1.2s;

    &:hover {

        color: #4539e4;
        background-color: transparent;

    }
}

  @include media-query($on-palm) {
.post-link {
  display: block;
    color: black;
    font-size: 38px;
    line-height: 1;


transition-duration: 1.2s;

    &:hover {

        color: #4539e4;
        background-color: transparent;

    }
  }
}

.home-links {

  color: white;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;

  }


.blog-title-size {
  display: block;
    color: black;
    font-size: 55px;
    line-height: 65px;


transition-duration: 0.8s;

    &:hover {

        color: #4539e4;
        background-color: transparent;

    }
}
@include media-query($on-palm) {
.blog-title-size {
display: block;
  color: black;
  font-size: 32px;
  line-height: 44px;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 10px;


transition-duration: 1.2s;

  &:hover {

      color: #4539e4;
      background-color: transparent;

  }
}
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {


    font-size: 64px;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 50px;


    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

@include media-query($on-palm) {
  .post-title {
      font-size: 44px;
      line-height: 1;
}
}

.post-header h1 {
  font-size: 42px;
}

.post-header p {
  font-size: 16px;
}

.post-header small {
  font-size: 14px;
}

.post-content {
    margin-bottom: 30px;

    h2 {
        font-size: 21px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
//video

.player .video-wrapper .video {
        position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: contain;
margin: 0 auto;
background-repeat: no-repeat;
background-position: 50% 50%;

}

    }

}

.project {
  float: left;
  width: 100%;
  margin: 30px 0%;


}


/*
.bottom-color-bands {

   align-self: flex-end;
    width: 100%;

}
.color-red {
background-color: #E74C3C;
height: 10px;
}

.color-darkblue {
background-color: #2C3E50;
}
.color-yellow {
background-color: #FFCC33;
}
.color-row {
    height: 23px;
    width: 100%;
  }
  */
